In [1]:
pip install autogluon

Collecting autogluon
  Downloading autogluon-0.4.0-py3-none-any.whl (9.5 kB)
Collecting autogluon.tabular[all]==0.4.0
  Downloading autogluon.tabular-0.4.0-py3-none-any.whl (267 kB)
     |████████████████████████████████| 267 kB 5.0 MB/s
Collecting autogluon.text==0.4.0
  Downloading autogluon.text-0.4.0-py3-none-any.whl (133 kB)
     |████████████████████████████████| 133 kB 37.3 MB/s
Collecting autogluon.vision==0.4.0
  Downloading autogluon.vision-0.4.0-py3-none-any.whl (48 kB)
     |████████████████████████████████| 48 kB 4.7 MB/s
Collecting autogluon.core[all]==0.4.0
  Downloading autogluon.core-0.4.0-py3-none-any.whl (188 kB)
     |████████████████████████████████| 188 kB 54.2 MB/s
Collecting autogluon.features==0.4.0
  Downloading autogluon.features-0.4.0-py3-none-any.whl (59 kB)
     |████████████████████████████████| 59 kB 5.6 MB/s
Requirement already satisfied: pandas<1.4,>=1.2.5 in /usr/local/lib/python3.7/dist-packages (from autogluon.core[all]==0.4.0->autogluon) (1.3.5)
Collecting autogluon.common==0.4.0
  Downloading autogluon.common-0.4.0-py3-none-any.whl (37 kB)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from autogluon.core[all]==0.4.0->autogluon) (3.2.2)
Requirement already satisfied: numpy<1.23,>=1.21 in /usr/local/lib/python3.7/dist-packages (from autogluon.core[all]==0.4.0->autogluon) (1.21.5)
Collecting distributed<=2021.11.2,>=2021.09.1
  Downloading distributed-2021.11.2-py3-none-any.whl (802 kB)
     |████████████████████████████████| 802 kB 56.7 MB/s
Collecting boto3
  Downloading boto3-1.21.27-py3-none-any.whl (132 kB)
     |████████████████████████████████| 132 kB 37.4 MB/s
Requirement already satisfied: tqdm>=4.38.0 in /usr/local/lib/python3.7/dist-packages (from autogluon.core[all]==0.4.0->autogluon) (4.63.0)
Collecting scipy<1.8.0,>=1.5.4
  Downloading scipy-1.7.3-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (38.1 MB)
     |████████████████████████████████| 38.1 MB 11.2 MB/s
Requirement already satisfied: scikit-learn<1.1,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from autogluon.core[all]==0.4.0->autogluon) (1.0.2)
Collecting dask<=2021.11.2,>=2021.09.1
  Downloading dask-2021.11.2-py3-none-any.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 34.2 MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from autogluon.core[all]==0.4.0->autogluon) (2.23.0)
Collecting ray<1.9,>=1.7
  Downloading ray-1.8.0-cp37-cp37m-manylinux2014_x86_64.whl (54.7 MB)
     |████████████████████████████████| 54.7 MB 70 kB/s
Collecting psutil<5.9,>=5.7.3
  Downloading psutil-5.8.0-cp37-cp37m-manylinux2010_x86_64.whl (296 kB)
     |████████████████████████████████| 296 kB 39.4 MB/s
Requirement already satisfied: networkx<3.0,>=2.3 in /usr/local/lib/python3.7/dist-packages (from autogluon.tabular[all]==0.4.0->autogluon) (2.6.3)
Collecting catboost<1.1,>=1.0
  Downloading catboost-1.0.4-cp37-none-manylinux1_x86_64.whl (76.1 MB)
     |████████████████████████████████| 76.1 MB 49 kB/s
Collecting lightgbm<3.4,>=3.3
  Downloading lightgbm-3.3.2-py3-none-manylinux1_x86_64.whl (2.0 MB)
     |████████████████████████████████| 2.0 MB 18.5 MB/s
Collecting xgboost<1.5,>=1.4
  Downloading xgboost-1.4.2-py3-none-manylinux2010_x86_64.whl (166.7 MB)
     |████████████████████████████████| 166.7 MB 20 kB/s
Collecting fastai<2.6,>=2.3.1
  Downloading fastai-2.5.5-py3-none-any.whl (187 kB)
     |████████████████████████████████| 187 kB 54.5 MB/s
Requirement already satisfied: torch<1.11,>=1.0 in /usr/local/lib/python3.7/dist-packages (from autogluon.tabular[all]==0.4.0->autogluon) (1.10.0+cu111)
Collecting torchmetrics<0.8.0,>=0.7.2
  Downloading torchmetrics-0.7.3-py3-none-any.whl (398 kB)
     |████████████████████████████████| 398 kB 10.5 MB/s
Collecting autogluon-contrib-nlp==0.0.1b20220208
  Downloading autogluon_contrib_nlp-0.0.1b20220208-py3-none-any.whl (157 kB)
     |████████████████████████████████| 157 kB 50.3 MB/s
Collecting fairscale<0.5.0,>=0.4.5
  Downloading fairscale-0.4.6.tar.gz (248 kB)
     |████████████████████████████████| 248 kB 21.9 MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Installing backend dependencies ... done
    Preparing wheel metadata ... done
Requirement already satisfied: smart-open<5.3.0,>=5.2.1 in /usr/local/lib/python3.7/dist-packages (from autogluon.text==0.4.0->autogluon) (5.2.1)
Collecting pytorch-lightning<1.6.0,>=1.5.10
  Downloading pytorch_lightning-1.5.10-py3-none-any.whl (527 kB)
     |████████████████████████████████| 527 kB 45.8 MB/s
Collecting transformers<4.17.0,>=4.16.2
  Downloading transformers-4.16.2-py3-none-any.whl (3.5 MB)
     |████████████████████████████████| 3.5 MB 37.3 MB/s
Collecting omegaconf<2.2.0,>=2.1.1
  Downloading omegaconf-2.1.1-py3-none-any.whl (74 kB)
     |████████████████████████████████| 74 kB 3.4 MB/s
Collecting sentencepiece<0.2.0,>=0.1.95
  Downloading sentencepiece-0.1.96-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.2 MB)
     |████████████████████████████████| 1.2 MB 38.3 MB/s
Collecting timm<0.6.0,>=0.5.4
  Downloading timm-0.5.4-py3-none-any.whl (431 kB)
     |████████████████████████████████| 431 kB 58.3 MB/s
Collecting scikit-image<0.20.0,>=0.19.1
  Downloading scikit_image-0.19.2-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (13.5 MB)
     |████████████████████████████████| 13.5 MB 27.4 MB/s
Collecting nptyping<1.5.0,>=1.4.4
  Downloading nptyping-1.4.4-py3-none-any.whl (31 kB)
Collecting Pillow<9.1.0,>=9.0.0
  Downloading Pillow-9.0.1-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (4.3 MB)
     |████████████████████████████████| 4.3 MB 35.7 MB/s
Requirement already satisfied: regex in /usr/local/lib/python3.7/dist-packages (from autogluon-contrib-nlp==0.0.1b20220208->autogluon.text==0.4.0->autogluon) (2019.12.20)
Collecting contextvars
  Downloading contextvars-2.4.tar.gz (9.6 kB)
Requirement already satisfied: protobuf in /usr/local/lib/python3.7/dist-packages (from autogluon-contrib-nlp==0.0.1b20220208->autogluon.text==0.4.0->autogluon) (3.17.3)
Collecting sentencepiece<0.2.0,>=0.1.95
  Downloading sentencepiece-0.1.95-cp37-cp37m-manylinux2014_x86_64.whl (1.2 MB)
     |████████████████████████████████| 1.2 MB 42.5 MB/s
Collecting sacremoses>=0.0.38
  Downloading sacremoses-0.0.49-py3-none-any.whl (895 kB)
     |████████████████████████████████| 895 kB 42.2 MB/s
Collecting tokenizers>=0.9.4
  Downloading tokenizers-0.11.6-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (6.5 MB)
     |████████████████████████████████| 6.5 MB 34.8 MB/s
Collecting sacrebleu
  Downloading sacrebleu-2.0.0-py3-none-any.whl (90 kB)
     |████████████████████████████████| 90 kB 7.4 MB/s
Requirement already satisfied: pyarrow in /usr/local/lib/python3.7/dist-packages (from autogluon-contrib-nlp==0.0.1b20220208->autogluon.text==0.4.0->autogluon) (6.0.1)
Collecting flake8
  Downloading flake8-4.0.1-py2.py3-none-any.whl (64 kB)
     |████████████████████████████████| 64 kB 2.5 MB/s
Collecting yacs>=0.1.6
  Downloading yacs-0.1.8-py3-none-any.whl (14 kB)
Collecting gluoncv<0.10.6,>=0.10.5
  Downloading gluoncv-0.10.5-py2.py3-none-any.whl (1.3 MB)
     |████████████████████████████████| 1.3 MB 39.2 MB/s
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost<1.1,>=1.0->autogluon.tabular[all]==0.4.0->autogluon) (5.5.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost<1.1,>=1.0->autogluon.tabular[all]==0.4.0->autogluon) (1.15.0)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost<1.1,>=1.0->autogluon.tabular[all]==0.4.0->autogluon) (0.10.1)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.7/dist-packages (from dask<=2021.11.2,>=2021.09.1->autogluon.core[all]==0.4.0->autogluon) (3.13)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from dask<=2021.11.2,>=2021.09.1->autogluon.core[all]==0.4.0->autogluon) (21.3)
Collecting partd>=0.3.10
  Downloading partd-1.2.0-py3-none-any.whl (19 kB)
Requirement already satisfied: cloudpickle>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from dask<=2021.11.2,>=2021.09.1->autogluon.core[all]==0.4.0->autogluon) (1.3.0)
Collecting fsspec>=0.6.0
  Downloading fsspec-2022.2.0-py3-none-any.whl (134 kB)
     |████████████████████████████████| 134 kB 42.7 MB/s
Requirement already satisfied: toolz>=0.8.2 in /usr/local/lib/python3.7/dist-packages (from dask<=2021.11.2,>=2021.09.1->autogluon.core[all]==0.4.0->autogluon) (0.11.2)
Requirement already satisfied: tblib>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from distributed<=2021.11.2,>=2021.09.1->autogluon.core[all]==0.4.0->autogluon) (1.7.0)
Requirement already satisfied: tornado>=5 in /usr/local/lib/python3.7/dist-packages (from distributed<=2021.11.2,>=2021.09.1->autogluon.core[all]==0.4.0->autogluon) (5.1.1)
Requirement already satisfied: sortedcontainers!=2.0.0,!=2.0.1 in /usr/local/lib/python3.7/dist-packages (from distributed<=2021.11.2,>=2021.09.1->autogluon.core[all]==0.4.0->autogluon) (2.4.0)
Requirement already satisfied: click>=6.6 in /usr/local/lib/python3.7/dist-packages (from distributed<=2021.11.2,>=2021.09.1->autogluon.core[all]==0.4.0->autogluon) (7.1.2)
Collecting cloudpickle>=1.1.1
  Downloading cloudpickle-2.0.0-py3-none-any.whl (25 kB)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from distributed<=2021.11.2,>=2021.09.1->autogluon.core[all]==0.4.0->autogluon) (57.4.0)
Requirement already satisfied: zict>=0.1.3 in /usr/local/lib/python3.7/dist-packages (from distributed<=2021.11.2,>=2021.09.1->autogluon.core[all]==0.4.0->autogluon) (2.1.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from distributed<=2021.11.2,>=2021.09.1->autogluon.core[all]==0.4.0->autogluon) (2.11.3)
Requirement already satisfied: msgpack>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from distributed<=2021.11.2,>=2021.09.1->autogluon.core[all]==0.4.0->autogluon) (1.0.3)
Collecting fastdownload<2,>=0.0.5
  Downloading fastdownload-0.0.5-py3-none-any.whl (13 kB)
Collecting fastcore<1.5,>=1.3.27
  Downloading fastcore-1.4.0-py3-none-any.whl (56 kB)
     |████████████████████████████████| 56 kB 4.5 MB/s
Requirement already satisfied: spacy<4 in /usr/local/lib/python3.7/dist-packages (from fastai<2.6,>=2.3.1->autogluon.tabular[all]==0.4.0->autogluon) (2.2.4)
Requirement already satisfied: pip in /usr/local/lib/python3.7/dist-packages (from fastai<2.6,>=2.3.1->autogluon.tabular[all]==0.4.0->autogluon) (21.1.3)
Requirement already satisfied: fastprogress>=0.2.4 in /usr/local/lib/python3.7/dist-packages (from fastai<2.6,>=2.3.1->autogluon.tabular[all]==0.4.0->autogluon) (1.0.2)
Requirement already satisfied: torchvision>=0.8.2 in /usr/local/lib/python3.7/dist-packages (from fastai<2.6,>=2.3.1->autogluon.tabular[all]==0.4.0->autogluon) (0.11.1+cu111)
Requirement already satisfied: opencv-python in /usr/local/lib/python3.7/dist-packages (from gluoncv<0.10.6,>=0.10.5->autogluon.vision==0.4.0->autogluon) (4.1.2.30)
Collecting portalocker
  Downloading portalocker-2.4.0-py2.py3-none-any.whl (16 kB)
Collecting autocfg
  Downloading autocfg-0.0.8-py3-none-any.whl (13 kB)
Requirement already satisfied: wheel in /usr/local/lib/python3.7/dist-packages (from lightgbm<3.4,>=3.3->autogluon.tabular[all]==0.4.0->autogluon) (0.37.1)
Collecting typish>=1.7.0
  Downloading typish-1.9.3-py3-none-any.whl (45 kB)
     |████████████████████████████████| 45 kB 3.0 MB/s
Collecting pyyaml
  Downloading PyYAML-6.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (596 kB)
     |████████████████████████████████| 596 kB 48.1 MB/s
Collecting antlr4-python3-runtime==4.8
  Downloading antlr4-python3-runtime-4.8.tar.gz (112 kB)
     |████████████████████████████████| 112 kB 39.7 MB/s
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->dask<=2021.11.2,>=2021.09.1->autogluon.core[all]==0.4.0->autogluon) (3.0.7)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas<1.4,>=1.2.5->autogluon.core[all]==0.4.0->autogluon) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas<1.4,>=1.2.5->autogluon.core[all]==0.4.0->autogluon) (2.8.2)
Collecting locket
  Downloading locket-0.2.1-py2.py3-none-any.whl (4.1 kB)
Collecting setuptools
  Downloading setuptools-59.5.0-py3-none-any.whl (952 kB)
     |████████████████████████████████| 952 kB 43.0 MB/s
Collecting pyDeprecate==0.3.1
  Downloading pyDeprecate-0.3.1-py3-none-any.whl (10 kB)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from pytorch-lightning<1.6.0,>=1.5.10->autogluon.text==0.4.0->autogluon) (3.10.0.2)
Requirement already satisfied: tensorboard>=2.2.0 in /usr/local/lib/python3.7/dist-packages (from pytorch-lightning<1.6.0,>=1.5.10->autogluon.text==0.4.0->autogluon) (2.8.0)
Collecting future>=0.17.1
  Downloading future-0.18.2.tar.gz (829 kB)
     |████████████████████████████████| 829 kB 40.2 MB/s
Collecting aiohttp
  Downloading aiohttp-3.8.1-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (1.1 MB)
     |████████████████████████████████| 1.1 MB 47.9 MB/s
Requirement already satisfied: attrs in /usr/local/lib/python3.7/dist-packages (from ray<1.9,>=1.7->autogluon.core[all]==0.4.0->autogluon) (21.4.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from ray<1.9,>=1.7->autogluon.core[all]==0.4.0->autogluon) (3.6.0)
Requirement already satisfied: jsonschema in /usr/local/lib/python3.7/dist-packages (from ray<1.9,>=1.7->autogluon.core[all]==0.4.0->autogluon) (4.3.3)
Collecting redis>=3.5.0
  Downloading redis-4.2.0-py3-none-any.whl (225 kB)
     |████████████████████████████████| 225 kB 36.8 MB/s
Requirement already satisfied: grpcio>=1.28.1 in /usr/local/lib/python3.7/dist-packages (from ray<1.9,>=1.7->autogluon.core[all]==0.4.0->autogluon) (1.44.0)
Collecting async-timeout>=4.0.2
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Requirement already satisfied: importlib-metadata>=1.0 in /usr/local/lib/python3.7/dist-packages (from redis>=3.5.0->ray<1.9,>=1.7->autogluon.core[all]==0.4.0->autogluon) (4.11.3)
Collecting deprecated>=1.2.3
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: wrapt<2,>=1.10 in /usr/local/lib/python3.7/dist-packages (from deprecated>=1.2.3->redis>=3.5.0->ray<1.9,>=1.7->autogluon.core[all]==0.4.0->autogluon) (1.14.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=1.0->redis>=3.5.0->ray<1.9,>=1.7->autogluon.core[all]==0.4.0->autogluon) (3.7.0)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from sacremoses>=0.0.38->autogluon-contrib-nlp==0.0.1b20220208->autogluon.text==0.4.0->autogluon) (1.1.0)
Requirement already satisfied: imageio>=2.4.1 in /usr/local/lib/python3.7/dist-packages (from scikit-image<0.20.0,>=0.19.1->autogluon.text==0.4.0->autogluon) (2.4.1)
Requirement already satisfied: tifffile>=2019.7.26 in /usr/local/lib/python3.7/dist-packages (from scikit-image<0.20.0,>=0.19.1->autogluon.text==0.4.0->autogluon) (2021.11.2)
Requirement already satisfied: PyWavelets>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from scikit-image<0.20.0,>=0.19.1->autogluon.text==0.4.0->autogluon) (1.3.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn<1.1,>=1.0.0->autogluon.core[all]==0.4.0->autogluon) (3.1.0)
Requirement already satisfied: blis<0.5.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy<4->fastai<2.6,>=2.3.1->autogluon.tabular[all]==0.4.0->autogluon) (0.4.1)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.7/dist-packages (from spacy<4->fastai<2.6,>=2.3.1->autogluon.tabular[all]==0.4.0->autogluon) (1.0.6)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<4->fastai<2.6,>=2.3.1->autogluon.tabular[all]==0.4.0->autogluon) (3.0.6)
Requirement already satisfied: srsly<1.1.0,>=1.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<4->fastai<2.6,>=2.3.1->autogluon.tabular[all]==0.4.0->autogluon) (1.0.5)
Requirement already satisfied: catalogue<1.1.0,>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from spacy<4->fastai<2.6,>=2.3.1->autogluon.tabular[all]==0.4.0->autogluon) (1.0.0)
Requirement already satisfied: plac<1.2.0,>=0.9.6 in /usr/local/lib/python3.7/dist-packages (from spacy<4->fastai<2.6,>=2.3.1->autogluon.tabular[all]==0.4.0->autogluon) (1.1.3)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<4->fastai<2.6,>=2.3.1->autogluon.tabular[all]==0.4.0->autogluon) (2.0.6)
Requirement already satisfied: thinc==7.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy<4->fastai<2.6,>=2.3.1->autogluon.tabular[all]==0.4.0->autogluon) (7.4.0)
Requirement already satisfied: wasabi<1.1.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy<4->fastai<2.6,>=2.3.1->autogluon.tabular[all]==0.4.0->autogluon) (0.9.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->autogluon.core[all]==0.4.0->autogluon) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->autogluon.core[all]==0.4.0->autogluon) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->autogluon.core[all]==0.4.0->autogluon) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->autogluon.core[all]==0.4.0->autogluon) (3.0.4)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=2.2.0->pytorch-lightning<1.6.0,>=1.5.10->autogluon.text==0.4.0->autogluon) (3.3.6)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=2.2.0->pytorch-lightning<1.6.0,>=1.5.10->autogluon.text==0.4.0->autogluon) (0.4.6)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=2.2.0->pytorch-lightning<1.6.0,>=1.5.10->autogluon.text==0.4.0->autogluon) (0.6.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=2.2.0->pytorch-lightning<1.6.0,>=1.5.10->autogluon.text==0.4.0->autogluon) (1.35.0)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=2.2.0->pytorch-lightning<1.6.0,>=1.5.10->autogluon.text==0.4.0->autogluon) (1.8.1)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=2.2.0->pytorch-lightning<1.6.0,>=1.5.10->autogluon.text==0.4.0->autogluon) (1.0.1)
Requirement already satisfied: absl-py>=0.4 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=2.2.0->pytorch-lightning<1.6.0,>=1.5.10->autogluon.text==0.4.0->autogluon) (1.0.0)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard>=2.2.0->pytorch-lightning<1.6.0,>=1.5.10->autogluon.text==0.4.0->autogluon) (4.2.4)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard>=2.2.0->pytorch-lightning<1.6.0,>=1.5.10->autogluon.text==0.4.0->autogluon) (0.2.8)

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
cd drive/MyDrive/'Colab Notebooks'/'个贷违约预测'

/content/drive/MyDrive/Colab Notebooks/个贷违约预测

In [ ]:
# https://aistudio.baidu.com/aistudio/competition/detail/141/0/introduction

# 数据集与处理

In [17]:
def f(x):
    x1, x2, x3 = x.split('/')
    if x1 == '2022':
        x = str(int(x3) + 2000) + '/' + x2 + '/' + '1'
    return x

In [18]:
import pandas as pd
import numpy as np
# 数据加载
train_bank = pd.read_csv('./train_public2.csv')
train_bank['earlies_credit_mon'] = train_bank['earlies_credit_mon'].apply(f)
train_bank

,loan_id,user_id,total_loan,year_of_loan,interest,monthly_payment,class,employer_type,industry,work_year,...,policy_code,f0,f1,f2,f3,f4,early_return,early_return_amount,early_return_amount_3mon,isDefault
0,1040418,240418,31818.18182,3,11.466,1174.91,C,政府机构,金融业,3 years,...,1,1.0,0.0,4.0,5.0,4.0,3,9927,0.0,0
1,1025197,225197,28000.00000,5,16.841,670.69,C,政府机构,金融业,10+ years,...,1,7.0,0.0,4.0,45.0,22.0,0,0,0.0,0
2,1009360,209360,17272.72727,3,8.900,603.32,A,政府机构,公共服务、社会组织,10+ years,...,1,6.0,0.0,6.0,28.0,19.0,0,0,0.0,0
3,1039708,239708,20000.00000,3,4.788,602.30,A,世界五百强,文化和体育业,6 years,...,1,5.0,0.0,10.0,15.0,9.0,0,0,0.0,0
4,1027483,227483,15272.72727,3,12.790,470.31,C,政府机构,信息传输、软件和信息技术服务业,< 1 year,...,1,10.0,0.0,6.0,15.0,4.0,0,0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1028093,228093,17727.27273,3,15.037,510.27,B,普通企业,建筑业,7 years,...,1,4.0,0.0,4.0,11.0,7.0,2,5287,0.0,0
9996,1043911,243911,13636.36364,3,6.534,464.95,A,政府机构,农、林、牧、渔业,2 years,...,1,2.0,0.0,2.0,7.0,6.0,3,7182,0.0,0
9997,1023503,223503,24818.18182,3,14.421,708.69,B,普通企业,信息传输、软件和信息技术服务业,10+ years,...,1,6.0,0.0,5.0,15.0,11.0,1,8540,2562.0,0
9998,1024616,224616,20000.00000,3,18.450,727.58,D,政府机构,农、林、牧、渔业,10+ years,...,1,7.0,0.0,5.0,17.0,10.0,2,6161,616.1,0
9999,1021034,221034,1000.00000,3,14.014,33.57,C,高等教育机构,信息传输、软件和信息技术服务业,7 years,...,1,3.0,0.0,2.0,9.0,6.0,3,299,59.8,0

In [19]:
train_bank['earlies_credit_mon'].min()

'1952/6/1'

In [20]:
train_internet = pd.read_csv('./train_internet.csv')
train_internet

,loan_id,user_id,total_loan,year_of_loan,interest,monthly_payment,class,sub_class,work_type,employer_type,...,earlies_credit_mon,title,policy_code,f0,f1,f2,f3,f4,f5,is_default
0,119262,0,12000.0,5,11.53,264.10,B,B5,职员,普通企业,...,Mar-1984,0.0,1.0,1.0,0.0,8.0,17.0,8.0,1.0,1
1,369815,1,8000.0,3,13.98,273.35,C,C3,其他,普通企业,...,Jan-1992,94.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0
2,787833,2,20000.0,5,17.99,507.76,D,D2,工人,上市企业,...,Oct-1996,0.0,1.0,6.0,0.0,10.0,8.0,3.0,0.0,0
3,671675,3,10700.0,3,10.16,346.07,B,B1,职员,普通企业,...,Jul-2000,41646.0,1.0,3.0,0.0,4.0,11.0,6.0,0.0,0
4,245160,4,8000.0,3,8.24,251.58,B,B1,其他,政府机构,...,Mar-2000,4.0,1.0,3.0,0.0,8.0,6.0,4.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749995,624287,749995,12000.0,3,11.47,395.55,B,B5,职员,上市企业,...,Jun-1995,0.0,1.0,6.0,0.0,8.0,22.0,12.0,5.0,0
749996,427602,749996,12000.0,3,6.03,365.23,A,A1,工人,政府机构,...,Sep-2001,4.0,1.0,2.0,0.0,7.0,4.0,4.0,0.0,0
749997,206828,749997,10000.0,3,15.41,348.67,D,D1,职员,政府机构,...,Oct-2008,8.0,1.0,6.0,0.0,10.0,11.0,3.0,0.0,0
749998,293912,749998,7200.0,3,9.44,230.44,B,B1,其他,政府机构,...,Apr-2006,0.0,1.0,7.0,0.0,9.0,11.0,6.0,0.0,0
749999,381388,749999,16000.0,5,19.22,416.99,D,D4,职员,幼教与中小学校,...,Feb-2001,6.0,1.0,7.0,0.0,9.0,13.0,6.0,0.0,0

In [21]:
test_public = pd.read_csv('./test_public2.csv')
test_public['earlies_credit_mon'] = test_public['earlies_credit_mon'].apply(f)
test_public

,loan_id,user_id,total_loan,year_of_loan,interest,monthly_payment,class,employer_type,industry,work_year,...,title,policy_code,f0,f1,f2,f3,f4,early_return,early_return_amount,early_return_amount_3mon
0,1000575,200575,2890.909091,3,10.791,88.01,B,幼教与中小学校,住宿和餐饮业,5 years,...,0,1,2.0,0.0,15.0,5.0,4.0,3,773,89.192308
1,1028125,228125,7272.727273,3,9.990,258.10,B,普通企业,批发和零售业,10+ years,...,6,1,8.0,0.0,8.0,29.0,14.0,1,1894,218.538462
2,1010694,210694,26295.454550,3,15.763,764.03,C,普通企业,住宿和餐饮业,10+ years,...,268,1,6.0,0.0,4.0,10.0,6.0,1,5670,1221.230769
3,1026712,226712,22690.909090,5,19.305,524.30,D,普通企业,采矿业,10+ years,...,0,1,4.0,0.0,12.0,10.0,8.0,2,4800,443.076923
4,1002895,202895,14545.454550,3,7.139,490.32,A,世界五百强,金融业,1 year,...,5,1,4.0,0.0,7.0,14.0,9.0,0,3516,649.107692
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,1008856,208856,9454.545455,5,12.015,183.47,C,政府机构,信息传输、软件和信息技术服务业,< 1 year,...,10595,1,NaN,NaN,NaN,NaN,NaN,0,0,0.000000
4996,1016651,216651,5500.000000,3,7.970,172.28,A,政府机构,房地产业,5 years,...,0,1,3.0,0.0,2.0,5.0,3.0,3,1564,0.000000
4997,1024140,224140,30545.454550,3,8.900,889.09,A,上市企业,房地产业,10+ years,...,21735,1,8.0,0.0,17.0,20.0,14.0,2,5456,1510.892308
4998,1014316,214316,4090.909091,3,6.030,152.18,A,政府机构,文化和体育业,10+ years,...,24272,1,1.0,0.0,6.0,10.0,10.0,3,223,41.169231
4999,1012946,212946,14727.272730,3,7.970,563.81,A,普通企业,交通运输、仓储和邮政业,4 years,...,0,1,6.0,0.0,5.0,8.0,7.0,3,1561,360.230769

In [22]:
train_bank.rename(columns={'isDefault': 'is_default'}, inplace=True)
train_bank

,loan_id,user_id,total_loan,year_of_loan,interest,monthly_payment,class,employer_type,industry,work_year,...,policy_code,f0,f1,f2,f3,f4,early_return,early_return_amount,early_return_amount_3mon,is_default
0,1040418,240418,31818.18182,3,11.466,1174.91,C,政府机构,金融业,3 years,...,1,1.0,0.0,4.0,5.0,4.0,3,9927,0.0,0
1,1025197,225197,28000.00000,5,16.841,670.69,C,政府机构,金融业,10+ years,...,1,7.0,0.0,4.0,45.0,22.0,0,0,0.0,0
2,1009360,209360,17272.72727,3,8.900,603.32,A,政府机构,公共服务、社会组织,10+ years,...,1,6.0,0.0,6.0,28.0,19.0,0,0,0.0,0
3,1039708,239708,20000.00000,3,4.788,602.30,A,世界五百强,文化和体育业,6 years,...,1,5.0,0.0,10.0,15.0,9.0,0,0,0.0,0
4,1027483,227483,15272.72727,3,12.790,470.31,C,政府机构,信息传输、软件和信息技术服务业,< 1 year,...,1,10.0,0.0,6.0,15.0,4.0,0,0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1028093,228093,17727.27273,3,15.037,510.27,B,普通企业,建筑业,7 years,...,1,4.0,0.0,4.0,11.0,7.0,2,5287,0.0,0
9996,1043911,243911,13636.36364,3,6.534,464.95,A,政府机构,农、林、牧、渔业,2 years,...,1,2.0,0.0,2.0,7.0,6.0,3,7182,0.0,0
9997,1023503,223503,24818.18182,3,14.421,708.69,B,普通企业,信息传输、软件和信息技术服务业,10+ years,...,1,6.0,0.0,5.0,15.0,11.0,1,8540,2562.0,0
9998,1024616,224616,20000.00000,3,18.450,727.58,D,政府机构,农、林、牧、渔业,10+ years,...,1,7.0,0.0,5.0,17.0,10.0,2,6161,616.1,0
9999,1021034,221034,1000.00000,3,14.014,33.57,C,高等教育机构,信息传输、软件和信息技术服务业,7 years,...,1,3.0,0.0,2.0,9.0,6.0,3,299,59.8,0

In [23]:
# 查找数据集A、B之间共同的字段
common_cols = []
for col in train_bank.columns:
    if col in train_internet:
        common_cols.append(col)
common_cols

['loan_id',
 'user_id',
 'total_loan',
 'year_of_loan',
 'interest',
 'monthly_payment',
 'class',
 'employer_type',
 'industry',
 'work_year',
 'house_exist',
 'censor_status',
 'issue_date',
 'use',
 'post_code',
 'region',
 'debt_loan_ratio',
 'del_in_18month',
 'scoring_low',
 'scoring_high',
 'pub_dero_bankrup',
 'recircle_b',
 'recircle_u',
 'initial_list_status',
 'earlies_credit_mon',
 'title',
 'policy_code',
 'f0',
 'f1',
 'f2',
 'f3',
 'f4',
 'early_return',
 'early_return_amount',
 'early_return_amount_3mon',
 'is_default']

In [24]:
len(common_cols)

36

In [25]:
common_cols2 = common_cols + ['sub_class']
common_cols2

['loan_id',
 'user_id',
 'total_loan',
 'year_of_loan',
 'interest',
 'monthly_payment',
 'class',
 'employer_type',
 'industry',
 'work_year',
 'house_exist',
 'censor_status',
 'issue_date',
 'use',
 'post_code',
 'region',
 'debt_loan_ratio',
 'del_in_18month',
 'scoring_low',
 'scoring_high',
 'pub_dero_bankrup',
 'recircle_b',
 'recircle_u',
 'initial_list_status',
 'earlies_credit_mon',
 'title',
 'policy_code',
 'f0',
 'f1',
 'f2',
 'f3',
 'f4',
 'early_return',
 'early_return_amount',
 'early_return_amount_3mon',
 'is_default',
 'sub_class']

In [26]:
# 对于银行自己的数据集A，有3个不同的字段
train_bank_left = set(train_bank.columns) - set(common_cols)
print(train_bank_left)
# 对于网络公开的数据集B，有6个不同的字段
train_internet_left = set(train_internet.columns) - set(common_cols)
print(train_internet_left)

{'app_type', 'known_outstanding_loan', 'known_dero'}
{'marriage', 'sub_class', 'work_type', 'offsprings', 'house_loan_status', 'f5'}

In [27]:
train_internet[['sub_class', 'is_default']]

       sub_class  is_default
0             B5           1
1             C3           0
2             D2           0
3             B1           0
4             B1           0
...          ...         ...
749995        B5           0
749996        A1           0
749997        D1           0
749998        B1           0
749999        D4           0

[750000 rows x 2 columns]

In [28]:
tmp1 = train_internet.groupby(['sub_class'])['is_default'].mean()
tmp1.reset_index()

   sub_class  is_default
0         A1    0.031894
1         A2    0.045028
2         A3    0.056276
3         A4    0.067207
4         A5    0.085673
5         B1    0.103251
6         B2    0.112463
7         B3    0.129115
8         B4    0.147953
9         B5    0.165156
10        C1    0.190487
11        C2    0.206581
12        C3    0.224238
13        C4    0.250939
14        C5    0.261236
15        D1    0.278585
16        D2    0.298821
17        D3    0.305343
18        D4    0.322475
19        D5    0.336102
20        E1    0.356704
21        E2    0.376641
22        E3    0.385888
23        E4    0.403200
24        E5    0.417569
25        F1    0.426147
26        F2    0.456308
27        F3    0.459934
28        F4    0.477366
29        F5    0.481749
30        G1    0.467030
31        G2    0.482609
32        G3    0.521219
33        G4    0.521008
34        G5    0.546645

In [29]:
train1 = train_bank
train1['is_internet'] = False
print('train1:', train1)
train2 = train_internet.drop(['sub_class', 'marriage', 'offsprings', 'house_loan_status', 'work_type', 'f5'], axis=1)
for col in ['app_type', 'known_dero', 'known_outstanding_loan']:
    train2[col] = np.nan
train2['is_internet'] = True
print('train2:', train2)

train1:       loan_id  user_id   total_loan  year_of_loan  interest  monthly_payment  \
0     1040418   240418  31818.18182             3    11.466          1174.91
1     1025197   225197  28000.00000             5    16.841           670.69
2     1009360   209360  17272.72727             3     8.900           603.32
3     1039708   239708  20000.00000             3     4.788           602.30
4     1027483   227483  15272.72727             3    12.790           470.31
...       ...      ...          ...           ...       ...              ...
9995  1028093   228093  17727.27273             3    15.037           510.27
9996  1043911   243911  13636.36364             3     6.534           464.95
9997  1023503   223503  24818.18182             3    14.421           708.69
9998  1024616   224616  20000.00000             3    18.450           727.58
9999  1021034   221034   1000.00000             3    14.014            33.57

     class employer_type         industry  work_year  ...    f0   f1    f2  \
0        C          政府机构              金融业    3 years  ...   1.0  0.0   4.0
1        C          政府机构              金融业  10+ years  ...   7.0  0.0   4.0
2        A          政府机构        公共服务、社会组织  10+ years  ...   6.0  0.0   6.0
3        A         世界五百强           文化和体育业    6 years  ...   5.0  0.0  10.0
4        C          政府机构  信息传输、软件和信息技术服务业   < 1 year  ...  10.0  0.0   6.0
...    ...           ...              ...        ...  ...   ...  ...   ...
9995     B          普通企业              建筑业    7 years  ...   4.0  0.0   4.0
9996     A          政府机构         农、林、牧、渔业    2 years  ...   2.0  0.0   2.0
9997     B          普通企业  信息传输、软件和信息技术服务业  10+ years  ...   6.0  0.0   5.0
9998     D          政府机构         农、林、牧、渔业  10+ years  ...   7.0  0.0   5.0
9999     C        高等教育机构  信息传输、软件和信息技术服务业    7 years  ...   3.0  0.0   2.0

        f3    f4  early_return  early_return_amount  early_return_amount_3mon  \
0      5.0   4.0             3                 9927                       0.0
1     45.0  22.0             0                    0                       0.0
2     28.0  19.0             0                    0                       0.0
3     15.0   9.0             0                    0                       0.0
4     15.0   4.0             0                    0                       0.0
...    ...   ...           ...                  ...                       ...
9995  11.0   7.0             2                 5287                       0.0
9996   7.0   6.0             3                 7182                       0.0
9997  15.0  11.0             1                 8540                    2562.0
9998  17.0  10.0             2                 6161                     616.1
9999   9.0   6.0             3                  299                      59.8

      is_default  is_internet
0              0        False
1              0        False
2              0        False
3              0        False
4              0        False
...          ...          ...
9995           0        False
9996           0        False
9997           0        False
9998           0        False
9999           0        False

[10000 rows x 40 columns]
train2:         loan_id  user_id  total_loan  year_of_loan  interest  monthly_payment  \
0        119262        0     12000.0             5     11.53           264.10
1        369815        1      8000.0             3     13.98           273.35
2        787833        2     20000.0             5     17.99           507.76
3        671675        3     10700.0             3     10.16           346.07
4        245160        4      8000.0             3      8.24           251.58
...         ...      ...         ...           ...       ...              ...
749995   624287   749995     12000.0             3     11.47           395.55
749996   427602   749996     12000.0             3      6.03           365.23
749997   206828   749997     10000.0             3     15.41           348.67
749998   293912   749998      7200.0             3      9.44           230.44
749999   381388   749999     16000.0             5     19.22           416.99

       class employer_type         industry  work_year  ...   f0   f1    f2  \
0          B          普通企业              采矿业        NaN  ...  1.0  0.0   8.0
1          C          普通企业             国际组织  10+ years  ...  NaN  NaN   NaN
2          D          上市企业  信息传输、软件和信息技术服务业  10+ years  ...  6.0  0.0  10.0
3          B          普通企业       电力、热力生产供应业    2 years  ...  3.0  0.0   4.0
4          B          政府机构              金融业    5 years  ...  3.0  0.0   8.0
...      ...           ...              ...        ...  ...  ...  ...   ...
749995     B          上市企业           文化和体育业    4 years  ...  6.0  0.0   8.0
749996     A          政府机构           住宿和餐饮业    8 years  ...  2.0  0.0   7.0
749997     D          政府机构           住宿和餐饮业    8 years  ...  6.0  0.0  10.0
749998     B          政府机构  信息传输、软件和信息技术服务业  10+ years  ...  7.0  0.0   9.0
749999     D       幼教与中小学校           文化和体育业    3 years  ...  7.0  0.0   9.0

          f3    f4  is_default  app_type  known_dero  known_outstanding_loan  \
0       17.0   8.0           1       NaN         NaN                     NaN
1        NaN   NaN           0       NaN         NaN                     NaN
2        8.0   3.0           0       NaN         NaN                     NaN
3       11.0   6.0           0       NaN         NaN                     NaN
4        6.0   4.0           0       NaN         NaN                     NaN
...      ...   ...         ...       ...         ...                     ...
749995  22.0  12.0           0       NaN         NaN                     NaN
749996   4.0   4.0           0       NaN         NaN                     NaN
749997  11.0   3.0           0       NaN         NaN                     NaN
749998  11.0   6.0           0       NaN         NaN                     NaN
749999  13.0   6.0           0       NaN         NaN                     NaN

        is_internet
0              True
1              True
2              True
3              True
4              True
...             ...
749995         True
749996         True
749997         True
749998         True
749999         True

[750000 rows x 40 columns]

In [30]:
train = pd.concat([train1, train2], axis=0)
train.index = range(len(train))
train

,loan_id,user_id,total_loan,year_of_loan,interest,monthly_payment,class,employer_type,industry,work_year,...,f0,f1,f2,f3,f4,early_return,early_return_amount,early_return_amount_3mon,is_default,is_internet
0,1040418,240418,31818.18182,3,11.466,1174.91,C,政府机构,金融业,3 years,...,1.0,0.0,4.0,5.0,4.0,3,9927,0.000000,0,False
1,1025197,225197,28000.00000,5,16.841,670.69,C,政府机构,金融业,10+ years,...,7.0,0.0,4.0,45.0,22.0,0,0,0.000000,0,False
2,1009360,209360,17272.72727,3,8.900,603.32,A,政府机构,公共服务、社会组织,10+ years,...,6.0,0.0,6.0,28.0,19.0,0,0,0.000000,0,False
3,1039708,239708,20000.00000,3,4.788,602.30,A,世界五百强,文化和体育业,6 years,...,5.0,0.0,10.0,15.0,9.0,0,0,0.000000,0,False
4,1027483,227483,15272.72727,3,12.790,470.31,C,政府机构,信息传输、软件和信息技术服务业,< 1 year,...,10.0,0.0,6.0,15.0,4.0,0,0,0.000000,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
759995,624287,749995,12000.00000,3,11.470,395.55,B,上市企业,文化和体育业,4 years,...,6.0,0.0,8.0,22.0,12.0,0,0,0.000000,0,True
759996,427602,749996,12000.00000,3,6.030,365.23,A,政府机构,住宿和餐饮业,8 years,...,2.0,0.0,7.0,4.0,4.0,6,810,352.901898,0,True
759997,206828,749997,10000.00000,3,15.410,348.67,D,政府机构,住宿和餐饮业,8 years,...,6.0,0.0,10.0,11.0,3.0,0,0,0.000000,0,True
759998,293912,749998,7200.00000,3,9.440,230.44,B,政府机构,信息传输、软件和信息技术服务业,10+ years,...,7.0,0.0,9.0,11.0,6.0,0,0,0.000000,0,True
759999,381388,749999,16000.00000,5,19.220,416.99,D,幼教与中小学校,文化和体育业,3 years,...,7.0,0.0,9.0,13.0,6.0,0,0,0.000000,0,True

In [31]:
test = test_public
test

,loan_id,user_id,total_loan,year_of_loan,interest,monthly_payment,class,employer_type,industry,work_year,...,title,policy_code,f0,f1,f2,f3,f4,early_return,early_return_amount,early_return_amount_3mon
0,1000575,200575,2890.909091,3,10.791,88.01,B,幼教与中小学校,住宿和餐饮业,5 years,...,0,1,2.0,0.0,15.0,5.0,4.0,3,773,89.192308
1,1028125,228125,7272.727273,3,9.990,258.10,B,普通企业,批发和零售业,10+ years,...,6,1,8.0,0.0,8.0,29.0,14.0,1,1894,218.538462
2,1010694,210694,26295.454550,3,15.763,764.03,C,普通企业,住宿和餐饮业,10+ years,...,268,1,6.0,0.0,4.0,10.0,6.0,1,5670,1221.230769
3,1026712,226712,22690.909090,5,19.305,524.30,D,普通企业,采矿业,10+ years,...,0,1,4.0,0.0,12.0,10.0,8.0,2,4800,443.076923
4,1002895,202895,14545.454550,3,7.139,490.32,A,世界五百强,金融业,1 year,...,5,1,4.0,0.0,7.0,14.0,9.0,0,3516,649.107692
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,1008856,208856,9454.545455,5,12.015,183.47,C,政府机构,信息传输、软件和信息技术服务业,< 1 year,...,10595,1,NaN,NaN,NaN,NaN,NaN,0,0,0.000000
4996,1016651,216651,5500.000000,3,7.970,172.28,A,政府机构,房地产业,5 years,...,0,1,3.0,0.0,2.0,5.0,3.0,3,1564,0.000000
4997,1024140,224140,30545.454550,3,8.900,889.09,A,上市企业,房地产业,10+ years,...,21735,1,8.0,0.0,17.0,20.0,14.0,2,5456,1510.892308
4998,1014316,214316,4090.909091,3,6.030,152.18,A,政府机构,文化和体育业,10+ years,...,24272,1,1.0,0.0,6.0,10.0,10.0,3,223,41.169231
4999,1012946,212946,14727.272730,3,7.970,563.81,A,普通企业,交通运输、仓储和邮政业,4 years,...,0,1,6.0,0.0,5.0,8.0,7.0,3,1561,360.230769

In [32]:
train.info

<bound method DataFrame.info of         loan_id  user_id   total_loan  year_of_loan  interest  \
0       1040418   240418  31818.18182             3    11.466
1       1025197   225197  28000.00000             5    16.841
2       1009360   209360  17272.72727             3     8.900
3       1039708   239708  20000.00000             3     4.788
4       1027483   227483  15272.72727             3    12.790
...         ...      ...          ...           ...       ...
759995   624287   749995  12000.00000             3    11.470
759996   427602   749996  12000.00000             3     6.030
759997   206828   749997  10000.00000             3    15.410
759998   293912   749998   7200.00000             3     9.440
759999   381388   749999  16000.00000             5    19.220

        monthly_payment class employer_type         industry  work_year  ...  \
0               1174.91     C          政府机构              金融业    3 years  ...
1                670.69     C          政府机构              金融业  10+ years  ...
2                603.32     A          政府机构        公共服务、社会组织  10+ years  ...
3                602.30     A         世界五百强           文化和体育业    6 years  ...
4                470.31     C          政府机构  信息传输、软件和信息技术服务业   < 1 year  ...
...                 ...   ...           ...              ...        ...  ...
759995           395.55     B          上市企业           文化和体育业    4 years  ...
759996           365.23     A          政府机构           住宿和餐饮业    8 years  ...
759997           348.67     D          政府机构           住宿和餐饮业    8 years  ...
759998           230.44     B          政府机构  信息传输、软件和信息技术服务业  10+ years  ...
759999           416.99     D       幼教与中小学校           文化和体育业    3 years  ...

          f0   f1    f2    f3    f4  early_return  early_return_amount  \
0        1.0  0.0   4.0   5.0   4.0             3                 9927
1        7.0  0.0   4.0  45.0  22.0             0                    0
2        6.0  0.0   6.0  28.0  19.0             0                    0
3        5.0  0.0  10.0  15.0   9.0             0                    0
4       10.0  0.0   6.0  15.0   4.0             0                    0
...      ...  ...   ...   ...   ...           ...                  ...
759995   6.0  0.0   8.0  22.0  12.0             0                    0
759996   2.0  0.0   7.0   4.0   4.0             6                  810
759997   6.0  0.0  10.0  11.0   3.0             0                    0
759998   7.0  0.0   9.0  11.0   6.0             0                    0
759999   7.0  0.0   9.0  13.0   6.0             0                    0

        early_return_amount_3mon  is_default  is_internet
0                       0.000000           0        False
1                       0.000000           0        False
2                       0.000000           0        False
3                       0.000000           0        False
4                       0.000000           0        False
...                          ...         ...          ...
759995                  0.000000           0         True
759996                352.901898           0         True
759997                  0.000000           0         True
759998                  0.000000           0         True
759999                  0.000000           0         True

[760000 rows x 40 columns]>

In [33]:
train.select_dtypes(include='O')

,class,employer_type,industry,work_year,issue_date,earlies_credit_mon
0,C,政府机构,金融业,3 years,2016/10/1,2001/12/1
1,C,政府机构,金融业,10+ years,2013/6/1,1990/4/1
2,A,政府机构,公共服务、社会组织,10+ years,2014/1/1,1991/10/1
3,A,世界五百强,文化和体育业,6 years,2015/7/1,2001/6/1
4,C,政府机构,信息传输、软件和信息技术服务业,< 1 year,2016/7/1,2002/5/1
...,...,...,...,...,...,...
759995,B,上市企业,文化和体育业,4 years,2016-02-01,Jun-1995
759996,A,政府机构,住宿和餐饮业,8 years,2014-03-01,Sep-2001
759997,D,政府机构,住宿和餐饮业,8 years,2015-12-01,Oct-2008
759998,B,政府机构,信息传输、软件和信息技术服务业,10+ years,2017-12-01,Apr-2006
759999,D,幼教与中小学校,文化和体育业,3 years,2013-12-01,Feb-2001

# 处理时间类型特征

In [34]:
import datetime
train['issue_date'].dtype

dtype('O')

In [35]:
test['issue_date'].dtype

dtype('O')

In [36]:
train['issue_date'].min()

'2007-06-01'

In [37]:
test['issue_date'].min()

'2007/10/1'

In [38]:
train['issue_date_and_earlies_credit_mon_diff'] = pd.to_datetime(train['issue_date']) - pd.to_datetime(train['earlies_credit_mon'])
train[['issue_date', 'earlies_credit_mon', 'issue_date_and_earlies_credit_mon_diff']]

        issue_date earlies_credit_mon issue_date_and_earlies_credit_mon_diff
0        2016/10/1          2001/12/1                              5418 days
1         2013/6/1           1990/4/1                              8462 days
2         2014/1/1          1991/10/1                              8128 days
3         2015/7/1           2001/6/1                              5143 days
4         2016/7/1           2002/5/1                              5175 days
...            ...                ...                                    ...
759995  2016-02-01           Jun-1995                              7550 days
759996  2014-03-01           Sep-2001                              4564 days
759997  2015-12-01           Oct-2008                              2617 days
759998  2017-12-01           Apr-2006                              4262 days
759999  2013-12-01           Feb-2001                              4686 days

[760000 rows x 3 columns]

In [39]:
# 转换为pandas中的日期格式
train['issue_date'] = pd.to_datetime(train['issue_date'])
# 提取时间多尺度
train['issue_date_y'] = train['issue_date'].dt.year
train['issue_date_m'] = train['issue_date'].dt.month
#train['issue_date_d'] = train['issue_date'].dt.day

# 月数
train['issue_date'] = (train['issue_date_y'] - 2007) * 12 + train['issue_date_m']
train[['issue_date', 'issue_date_y', 'issue_date_m']]

        issue_date  issue_date_y  issue_date_m
0              118          2016            10
1               78          2013             6
2               85          2014             1
3              103          2015             7
4              115          2016             7
...            ...           ...           ...
759995         110          2016             2
759996          87          2014             3
759997         108          2015            12
759998         132          2017            12
759999          84          2013            12

[760000 rows x 3 columns]

In [40]:
test['issue_date_and_earlies_credit_mon_diff'] =  pd.to_datetime(test['issue_date']) - pd.to_datetime(test['earlies_credit_mon'])
test[['issue_date', 'earlies_credit_mon', 'issue_date_and_earlies_credit_mon_diff']]

     issue_date earlies_credit_mon issue_date_and_earlies_credit_mon_diff
0     2017/12/1           2003/3/1                              5389 days
1      2015/7/1          1999/12/1                              5691 days
2      2013/4/1           1999/4/1                              5114 days
3     2017/12/1           2000/7/1                              6362 days
4      2016/6/1           2007/5/1                              3319 days
...         ...                ...                                    ...
4995   2011/1/1           2005/7/1                              2010 days
4996   2017/5/1           2012/4/1                              1856 days
4997  2013/12/1          1986/10/1                              9923 days
4998   2012/9/1           1999/3/1                              4933 days
4999   2017/6/1           2005/7/1                              4353 days

[5000 rows x 3 columns]

In [41]:
# 转换为pandas中的日期格式
test['issue_date'] = pd.to_datetime(test['issue_date'])
# 提取时间多尺度
test['issue_date_y'] = test['issue_date'].dt.year
test['issue_date_m'] = test['issue_date'].dt.month
#train['issue_date_d'] = train['issue_date'].dt.day

# 月数
test['issue_date'] = (test['issue_date_y'] - 2007) * 12 + test['issue_date_m']
test[['issue_date', 'issue_date_y', 'issue_date_m']]

      issue_date  issue_date_y  issue_date_m
0            132          2017            12
1            103          2015             7
2             76          2013             4
3            132          2017            12
4            114          2016             6
...          ...           ...           ...
4995          49          2011             1
4996         125          2017             5
4997          84          2013            12
4998          69          2012             9
4999         126          2017             6

[5000 rows x 3 columns]

In [42]:
# 转换为pandas中的日期格式
train['earlies_credit_mon'] = pd.to_datetime(train['earlies_credit_mon'])
# 提取时间多尺度
train['earlies_credit_mon_y'] = train['earlies_credit_mon'].dt.year
train['earlies_credit_mon_m'] = train['earlies_credit_mon'].dt.month
#train['issue_date_d'] = train['issue_date'].dt.day

In [43]:
train['earlies_credit_mon'].min()

Timestamp('1944-01-01 00:00:00')

In [44]:
# 转换为pandas中的日期格式
test['earlies_credit_mon'] = pd.to_datetime(test['earlies_credit_mon'])
# 提取时间多尺度
test['earlies_credit_mon_y'] = test['earlies_credit_mon'].dt.year
test['earlies_credit_mon_m'] = test['earlies_credit_mon'].dt.month
#train['issue_date_d'] = train['issue_date'].dt.day

In [45]:
test['earlies_credit_mon'].min()

Timestamp('1959-06-01 00:00:00')

In [46]:
train['earlies_credit_mon'] = (train['earlies_credit_mon_y'] - 1944) * 12 + train['earlies_credit_mon_m']
test['earlies_credit_mon'] = (test['earlies_credit_mon_y'] - 1944) * 12 + test['earlies_credit_mon_m']
train

,loan_id,user_id,total_loan,year_of_loan,interest,monthly_payment,class,employer_type,industry,work_year,...,early_return,early_return_amount,early_return_amount_3mon,is_default,is_internet,issue_date_and_earlies_credit_mon_diff,issue_date_y,issue_date_m,earlies_credit_mon_y,earlies_credit_mon_m
0,1040418,240418,31818.18182,3,11.466,1174.91,C,政府机构,金融业,3 years,...,3,9927,0.000000,0,False,5418 days,2016,10,2001,12
1,1025197,225197,28000.00000,5,16.841,670.69,C,政府机构,金融业,10+ years,...,0,0,0.000000,0,False,8462 days,2013,6,1990,4
2,1009360,209360,17272.72727,3,8.900,603.32,A,政府机构,公共服务、社会组织,10+ years,...,0,0,0.000000,0,False,8128 days,2014,1,1991,10
3,1039708,239708,20000.00000,3,4.788,602.30,A,世界五百强,文化和体育业,6 years,...,0,0,0.000000,0,False,5143 days,2015,7,2001,6
4,1027483,227483,15272.72727,3,12.790,470.31,C,政府机构,信息传输、软件和信息技术服务业,< 1 year,...,0,0,0.000000,0,False,5175 days,2016,7,2002,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
759995,624287,749995,12000.00000,3,11.470,395.55,B,上市企业,文化和体育业,4 years,...,0,0,0.000000,0,True,7550 days,2016,2,1995,6
759996,427602,749996,12000.00000,3,6.030,365.23,A,政府机构,住宿和餐饮业,8 years,...,6,810,352.901898,0,True,4564 days,2014,3,2001,9
759997,206828,749997,10000.00000,3,15.410,348.67,D,政府机构,住宿和餐饮业,8 years,...,0,0,0.000000,0,True,2617 days,2015,12,2008,10
759998,293912,749998,7200.00000,3,9.440,230.44,B,政府机构,信息传输、软件和信息技术服务业,10+ years,...,0,0,0.000000,0,True,4262 days,2017,12,2006,4
759999,381388,749999,16000.00000,5,19.220,416.99,D,幼教与中小学校,文化和体育业,3 years,...,0,0,0.000000,0,True,4686 days,2013,12,2001,2

In [47]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 760000 entries, 0 to 759999
Data columns (total 45 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   loan_id                                 760000 non-null  int64
 1   user_id                                 760000 non-null  int64
 2   total_loan                              760000 non-null  float64
 3   year_of_loan                            760000 non-null  int64
 4   interest                                760000 non-null  float64
 5   monthly_payment                         760000 non-null  float64
 6   class                                   760000 non-null  object
 7   employer_type                           760000 non-null  object
 8   industry                                760000 non-null  object
 9   work_year                               715531 non-null  object
 10  house_exist                             760000 non-null  int64
 11  censor_status                           760000 non-null  int64
 12  issue_date                              760000 non-null  int64
 13  use                                     760000 non-null  int64
 14  post_code                               759999 non-null  float64
 15  region                                  760000 non-null  int64
 16  debt_loan_ratio                         759770 non-null  float64
 17  del_in_18month                          760000 non-null  float64
 18  scoring_low                             760000 non-null  float64
 19  scoring_high                            760000 non-null  float64
 20  known_outstanding_loan                  10000 non-null   float64
 21  known_dero                              10000 non-null   float64
 22  pub_dero_bankrup                        759618 non-null  float64
 23  recircle_b                              760000 non-null  float64
 24  recircle_u                              759511 non-null  float64
 25  initial_list_status                     760000 non-null  int64
 26  app_type                                10000 non-null   float64
 27  earlies_credit_mon                      760000 non-null  int64
 28  title                                   759999 non-null  float64
 29  policy_code                             760000 non-null  float64
 30  f0                                      721704 non-null  float64
 31  f1                                      693731 non-null  float64
 32  f2                                      721704 non-null  float64
 33  f3                                      721703 non-null  float64
 34  f4                                      721704 non-null  float64
 35  early_return                            760000 non-null  int64
 36  early_return_amount                     760000 non-null  int64
 37  early_return_amount_3mon                760000 non-null  float64
 38  is_default                              760000 non-null  int64
 39  is_internet                             760000 non-null  bool
 40  issue_date_and_earlies_credit_mon_diff  760000 non-null  timedelta64[ns]
 41  issue_date_y                            760000 non-null  int64
 42  issue_date_m                            760000 non-null  int64
 43  earlies_credit_mon_y                    760000 non-null  int64
 44  earlies_credit_mon_m                    760000 non-null  int64
dtypes: bool(1), float64(22), int64(17), object(4), timedelta64[ns](1)
memory usage: 255.9+ MB

In [48]:
train['issue_date_and_earlies_credit_mon_diff'] = train['issue_date_and_earlies_credit_mon_diff'] \
                                                    .astype('str') \
                                                    .apply(lambda x:x[:5]) \
                                                    .astype('int')
train['issue_date_and_earlies_credit_mon_diff']

0         5418
1         8462
2         8128
3         5143
4         5175
          ...
759995    7550
759996    4564
759997    2617
759998    4262
759999    4686
Name: issue_date_and_earlies_credit_mon_diff, Length: 760000, dtype: int64

In [49]:
test['issue_date_and_earlies_credit_mon_diff'] = test['issue_date_and_earlies_credit_mon_diff'] \
                                                    .astype('str') \
                                                    .apply(lambda x:x[:5]) \
                                                    .astype('int')
test['issue_date_and_earlies_credit_mon_diff']

0       5389
1       5691
2       5114
3       6362
4       3319
        ...
4995    2010
4996    1856
4997    9923
4998    4933
4999    4353
Name: issue_date_and_earlies_credit_mon_diff, Length: 5000, dtype: int64

# 处理分类类型特征

In [50]:
train['class'].value_counts()

B    222089
C    215676
A    132583
D    113504
E     52938
F     18102
G      5108
Name: class, dtype: int64

In [51]:
class_map = {'A': 0, 'B': 1, 'C': 2, 'D': 3, 'E': 4, 'F': 5, 'G':6}
train['class'] = train['class'].map(class_map)
test['class'] = test['class'].map(class_map)
train['class'].value_counts()

1    222089
2    215676
0    132583
3    113504
4     52938
5     18102
6      5108
Name: class, dtype: int64

In [52]:
train['employer_type'].value_counts()

普通企业       345140
政府机构       196162
幼教与中小学校     76044
上市企业        75926
世界五百强       41080
高等教育机构      25648
Name: employer_type, dtype: int64

In [53]:
test['employer_type'].value_counts()

普通企业       2264
政府机构       1281
幼教与中小学校     503
上市企业        499
世界五百强       281
高等教育机构      172
Name: employer_type, dtype: int64

In [54]:
"""
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
train['employer_type'] = le.fit_transform(train['employer_type'])
test['employer_type'] = le.transform(test['employer_type'])
train['employer_type'].value_counts() 
"""

"\nfrom sklearn.preprocessing import LabelEncoder\nle = LabelEncoder()\ntrain['employer_type'] = le.fit_transform(train['employer_type'])\ntest['employer_type'] = le.transform(test['employer_type'])\ntrain['employer_type'].value_counts() \n"

In [55]:
train['industry'].value_counts()

金融业                121940
电力、热力生产供应业          91460
公共服务、社会组织           76769
住宿和餐饮业              67993
文化和体育业              61190
信息传输、软件和信息技术服务业     60604
建筑业                 53016
房地产业                45448
交通运输、仓储和邮政业         38017
农、林、牧、渔业            37873
采矿业                 37815
国际组织                22765
批发和零售业              22579
制造业                 22531
Name: industry, dtype: int64

In [56]:
test['industry'].value_counts()

金融业                818
电力、热力生产供应业         612
公共服务、社会组织          557
住宿和餐饮业             429
信息传输、软件和信息技术服务业    419
文化和体育业             358
建筑业                314
房地产业               285
交通运输、仓储和邮政业        283
采矿业                277
农、林、牧、渔业           218
批发和零售业             159
国际组织               144
制造业                127
Name: industry, dtype: int64

In [57]:
"""
train['industry'] = le.fit_transform(train['industry'])
test['industry'] = le.transform(test['industry'])
train['industry'].value_counts() 
"""

"\ntrain['industry'] = le.fit_transform(train['industry'])\ntest['industry'] = le.transform(test['industry'])\ntrain['industry'].value_counts() \n"

In [58]:
train['work_year'].value_counts()

10+ years    249596
2 years       68835
< 1 year      60963
3 years       60904
1 year        49875
5 years       47650
4 years       45599
6 years       35386
8 years       34315
7 years       33636
9 years       28772
Name: work_year, dtype: int64

In [59]:
work_map = {'< 1 year':0, '1 year': 1, '2 years': 2, '3 years': 3, '4 years': 4, 
            '5 years': 5, '6 years': 6, '7 years': 7, '8 years': 8, '9 years': 9}
train['work_year'] = train['work_year'].map(work_map)
test['work_year'] = test['work_year'].map(work_map)
train['work_year'].value_counts()

2.0    68835
0.0    60963
3.0    60904
1.0    49875
5.0    47650
4.0    45599
6.0    35386
8.0    34315
7.0    33636
9.0    28772
Name: work_year, dtype: int64

In [60]:
train

,loan_id,user_id,total_loan,year_of_loan,interest,monthly_payment,class,employer_type,industry,work_year,...,early_return,early_return_amount,early_return_amount_3mon,is_default,is_internet,issue_date_and_earlies_credit_mon_diff,issue_date_y,issue_date_m,earlies_credit_mon_y,earlies_credit_mon_m
0,1040418,240418,31818.18182,3,11.466,1174.91,2,政府机构,金融业,3.0,...,3,9927,0.000000,0,False,5418,2016,10,2001,12
1,1025197,225197,28000.00000,5,16.841,670.69,2,政府机构,金融业,NaN,...,0,0,0.000000,0,False,8462,2013,6,1990,4
2,1009360,209360,17272.72727,3,8.900,603.32,0,政府机构,公共服务、社会组织,NaN,...,0,0,0.000000,0,False,8128,2014,1,1991,10
3,1039708,239708,20000.00000,3,4.788,602.30,0,世界五百强,文化和体育业,6.0,...,0,0,0.000000,0,False,5143,2015,7,2001,6
4,1027483,227483,15272.72727,3,12.790,470.31,2,政府机构,信息传输、软件和信息技术服务业,0.0,...,0,0,0.000000,0,False,5175,2016,7,2002,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
759995,624287,749995,12000.00000,3,11.470,395.55,1,上市企业,文化和体育业,4.0,...,0,0,0.000000,0,True,7550,2016,2,1995,6
759996,427602,749996,12000.00000,3,6.030,365.23,0,政府机构,住宿和餐饮业,8.0,...,6,810,352.901898,0,True,4564,2014,3,2001,9
759997,206828,749997,10000.00000,3,15.410,348.67,3,政府机构,住宿和餐饮业,8.0,...,0,0,0.000000,0,True,2617,2015,12,2008,10
759998,293912,749998,7200.00000,3,9.440,230.44,1,政府机构,信息传输、软件和信息技术服务业,NaN,...,0,0,0.000000,0,True,4262,2017,12,2006,4
759999,381388,749999,16000.00000,5,19.220,416.99,3,幼教与中小学校,文化和体育业,3.0,...,0,0,0.000000,0,True,4686,2013,12,2001,2

In [61]:
test

,loan_id,user_id,total_loan,year_of_loan,interest,monthly_payment,class,employer_type,industry,work_year,...,f3,f4,early_return,early_return_amount,early_return_amount_3mon,issue_date_and_earlies_credit_mon_diff,issue_date_y,issue_date_m,earlies_credit_mon_y,earlies_credit_mon_m
0,1000575,200575,2890.909091,3,10.791,88.01,1,幼教与中小学校,住宿和餐饮业,5.0,...,5.0,4.0,3,773,89.192308,5389,2017,12,2003,3
1,1028125,228125,7272.727273,3,9.990,258.10,1,普通企业,批发和零售业,NaN,...,29.0,14.0,1,1894,218.538462,5691,2015,7,1999,12
2,1010694,210694,26295.454550,3,15.763,764.03,2,普通企业,住宿和餐饮业,NaN,...,10.0,6.0,1,5670,1221.230769,5114,2013,4,1999,4
3,1026712,226712,22690.909090,5,19.305,524.30,3,普通企业,采矿业,NaN,...,10.0,8.0,2,4800,443.076923,6362,2017,12,2000,7
4,1002895,202895,14545.454550,3,7.139,490.32,0,世界五百强,金融业,1.0,...,14.0,9.0,0,3516,649.107692,3319,2016,6,2007,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,1008856,208856,9454.545455,5,12.015,183.47,2,政府机构,信息传输、软件和信息技术服务业,0.0,...,NaN,NaN,0,0,0.000000,2010,2011,1,2005,7
4996,1016651,216651,5500.000000,3,7.970,172.28,0,政府机构,房地产业,5.0,...,5.0,3.0,3,1564,0.000000,1856,2017,5,2012,4
4997,1024140,224140,30545.454550,3,8.900,889.09,0,上市企业,房地产业,NaN,...,20.0,14.0,2,5456,1510.892308,9923,2013,12,1986,10
4998,1014316,214316,4090.909091,3,6.030,152.18,0,政府机构,文化和体育业,NaN,...,10.0,10.0,3,223,41.169231,4933,2012,9,1999,3
4999,1012946,212946,14727.272730,3,7.970,563.81,0,普通企业,交通运输、仓储和邮政业,4.0,...,8.0,7.0,3,1561,360.230769,4353,2017,6,2005,7

In [62]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 760000 entries, 0 to 759999
Data columns (total 45 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   loan_id                                 760000 non-null  int64
 1   user_id                                 760000 non-null  int64
 2   total_loan                              760000 non-null  float64
 3   year_of_loan                            760000 non-null  int64
 4   interest                                760000 non-null  float64
 5   monthly_payment                         760000 non-null  float64
 6   class                                   760000 non-null  int64
 7   employer_type                           760000 non-null  object
 8   industry                                760000 non-null  object
 9   work_year                               465935 non-null  float64
 10  house_exist                             760000 non-null  int64
 11  censor_status                           760000 non-null  int64
 12  issue_date                              760000 non-null  int64
 13  use                                     760000 non-null  int64
 14  post_code                               759999 non-null  float64
 15  region                                  760000 non-null  int64
 16  debt_loan_ratio                         759770 non-null  float64
 17  del_in_18month                          760000 non-null  float64
 18  scoring_low                             760000 non-null  float64
 19  scoring_high                            760000 non-null  float64
 20  known_outstanding_loan                  10000 non-null   float64
 21  known_dero                              10000 non-null   float64
 22  pub_dero_bankrup                        759618 non-null  float64
 23  recircle_b                              760000 non-null  float64
 24  recircle_u                              759511 non-null  float64
 25  initial_list_status                     760000 non-null  int64
 26  app_type                                10000 non-null   float64
 27  earlies_credit_mon                      760000 non-null  int64
 28  title                                   759999 non-null  float64
 29  policy_code                             760000 non-null  float64
 30  f0                                      721704 non-null  float64
 31  f1                                      693731 non-null  float64
 32  f2                                      721704 non-null  float64
 33  f3                                      721703 non-null  float64
 34  f4                                      721704 non-null  float64
 35  early_return                            760000 non-null  int64
 36  early_return_amount                     760000 non-null  int64
 37  early_return_amount_3mon                760000 non-null  float64
 38  is_default                              760000 non-null  int64
 39  is_internet                             760000 non-null  bool
 40  issue_date_and_earlies_credit_mon_diff  760000 non-null  int64
 41  issue_date_y                            760000 non-null  int64
 42  issue_date_m                            760000 non-null  int64
 43  earlies_credit_mon_y                    760000 non-null  int64
 44  earlies_credit_mon_m                    760000 non-null  int64
dtypes: bool(1), float64(23), int64(19), object(2)
memory usage: 255.9+ MB

In [63]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 43 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   loan_id                                 5000 non-null   int64
 1   user_id                                 5000 non-null   int64
 2   total_loan                              5000 non-null   float64
 3   year_of_loan                            5000 non-null   int64
 4   interest                                5000 non-null   float64
 5   monthly_payment                         5000 non-null   float64
 6   class                                   5000 non-null   int64
 7   employer_type                           5000 non-null   object
 8   industry                                5000 non-null   object
 9   work_year                               3092 non-null   float64
 10  house_exist                             5000 non-null   int64
 11  censor_status                           5000 non-null   int64
 12  issue_date                              5000 non-null   int64
 13  use                                     5000 non-null   int64
 14  post_code                               5000 non-null   int64
 15  region                                  5000 non-null   int64
 16  debt_loan_ratio                         5000 non-null   float64
 17  del_in_18month                          5000 non-null   int64
 18  scoring_low                             5000 non-null   float64
 19  scoring_high                            5000 non-null   float64
 20  known_outstanding_loan                  5000 non-null   int64
 21  known_dero                              5000 non-null   int64
 22  pub_dero_bankrup                        4996 non-null   float64
 23  recircle_b                              5000 non-null   float64
 24  recircle_u                              5000 non-null   float64
 25  initial_list_status                     5000 non-null   int64
 26  app_type                                5000 non-null   int64
 27  earlies_credit_mon                      5000 non-null   int64
 28  title                                   5000 non-null   int64
 29  policy_code                             5000 non-null   int64
 30  f0                                      4741 non-null   float64
 31  f1                                      4546 non-null   float64
 32  f2                                      4741 non-null   float64
 33  f3                                      4741 non-null   float64
 34  f4                                      4741 non-null   float64
 35  early_return                            5000 non-null   int64
 36  early_return_amount                     5000 non-null   int64
 37  early_return_amount_3mon                5000 non-null   float64
 38  issue_date_and_earlies_credit_mon_diff  5000 non-null   int64
 39  issue_date_y                            5000 non-null   int64
 40  issue_date_m                            5000 non-null   int64
 41  earlies_credit_mon_y                    5000 non-null   int64
 42  earlies_credit_mon_m                    5000 non-null   int64
dtypes: float64(16), int64(25), object(2)
memory usage: 1.6+ MB

# 新特征构造

In [64]:
# 1）信贷周转情况 monthly_payment_year_of_loan_recircle_b
# monthly_payment：分期付款金额
# year_of_loan：贷款年份
# recircle_b：信贷周转余额合计
train['monthly_payment_year_of_loan_recircle_b'] = train['monthly_payment'] * 12 * train['year_of_loan'] / (train['recircle_b'] + 0.1)
test['monthly_payment_year_of_loan_recircle_b'] = test['monthly_payment'] * 12 * test['year_of_loan'] / (test['recircle_b'] + 0.1)
train['monthly_payment_year_of_loan_recircle_b']

0         5.468703
1         1.284474
2         1.173134
3         1.047119
4         1.207966
            ...
759995    1.487636
759996    0.927039
759997    1.355652
759998    0.844352
759999    2.774046
Name: monthly_payment_year_of_loan_recircle_b, Length: 760000, dtype: float64

In [65]:
# 2）单位循环额度利用率 recircle_u_recircle_b
# recircle_u：循环额度利用率
# recircle_b：信贷周转余额合计
train['recircle_u_recircle_b'] = train['recircle_u'] / (train['recircle_b'] + 0.1)
test['recircle_u_recircle_b'] = test['recircle_u'] / (test['recircle_b'] + 0.1)
train['recircle_u_recircle_b']

0         0.011869
1         0.001749
2         0.003116
3         0.002057
4         0.002173
            ...
759995    0.006498
759996    0.002150
759997    0.007873
759998    0.007247
759999    0.008693
Name: recircle_u_recircle_b, Length: 760000, dtype: float64

In [66]:
# 3）债务收入比 debt_loan_ratio
# 对于 < 0 的异常值进行处理 =》 转换为正数
# 对于空缺的值进行处理 =》 fillna(1000)
train['debt_loan_ratio'] = np.abs(train['debt_loan_ratio']).fillna(1000)
test['debt_loan_ratio'] = np.abs(test['debt_loan_ratio']).fillna(1000)
train['debt_loan_ratio']

0          2.430000
1         11.004545
2          6.409091
3          9.204545
4         15.578182
            ...
759995    21.550000
759996     4.520000
759997    17.250000
759998    24.850000
759999    15.080000
Name: debt_loan_ratio, Length: 760000, dtype: float64

In [67]:
# 4）信贷额度周转率 recircle_b_total_loan
train['recircle_b_total_loan'] = train['recircle_b'] / (train['total_loan'] + 0.1)
test['recircle_b_total_loan'] = test['recircle_b'] / (test['total_loan'] + 0.1)
train['recircle_b_total_loan']

0         0.243075
1         1.118889
2         1.071857
3         1.035345
4         0.917718
            ...
759995    0.797660
759996    1.181907
759997    0.925891
759998    1.364564
759999    0.563684
Name: recircle_b_total_loan, Length: 760000, dtype: float64

In [68]:
# 5）每期信贷额度周转情况 recircle_b_monthly_payment
# recircle_b：信贷周转余额合计
# monthly_payment：分期付款金额
train['recircle_b_monthly_payment'] = train['recircle_b'] / (train['monthly_payment'] + 0.1)
test['recircle_b_monthly_payment'] = test['recircle_b'] / (test['monthly_payment'] + 0.1)
train['recircle_b_monthly_payment']

0          6.582268
1         46.704632
2         30.681781
3         34.374170
4         29.795612
            ...
759995    24.193100
759996    38.822435
759997    26.547582
759998    42.617333
759999    21.623630
Name: recircle_b_monthly_payment, Length: 760000, dtype: float64

In [69]:
# 6）该笔订单空缺值情况
train['null_num'] = train.isnull().sum(axis=1)  # axis=1：该行的空缺值个数
test['null_num'] = test.isnull().sum(axis=1)
train['null_num']

0         0
1         1
2         1
3         0
4         0
         ..
759995    3
759996    3
759997    3
759998    4
759999    3
Name: null_num, Length: 760000, dtype: int64

In [70]:
# 7）平均每年贷款金额 avg_total_loan
# total_loan：贷款数额
# year_of_loan：贷款年份
train['avg_total_loan'] = train['total_loan'] / train['year_of_loan']
test['avg_total_loan'] = test['total_loan'] / test['year_of_loan']
train['avg_total_loan']

0         10606.060607
1          5600.000000
2          5757.575757
3          6666.666667
4          5090.909090
              ...
759995     4000.000000
759996     4000.000000
759997     3333.333333
759998     2400.000000
759999     3200.000000
Name: avg_total_loan, Length: 760000, dtype: float64

In [71]:
# 8）平均每年贷款利率 mean_interest
# interest：当前贷款利率
# year_of_loan：贷款年份
train['mean_interest'] = train['interest'] / train['year_of_loan']
test['mean_interest'] = test['interest'] / test['year_of_loan']
train['mean_interest']

0         3.822000
1         3.368200
2         2.966667
3         1.596000
4         4.263333
            ...
759995    3.823333
759996    2.010000
759997    5.136667
759998    3.146667
759999    3.844000
Name: mean_interest, Length: 760000, dtype: float64

In [72]:
# 9）总计还款金额 all_monthly_payment
# monthly_payment：分期付款金额
# year_of_loan：贷款年份
train['all_monthly_payment'] = train['monthly_payment'] * train['year_of_loan']
test['all_monthly_payment'] = test['monthly_payment'] * test['year_of_loan']
train['all_monthly_payment']

0         3524.73
1         3353.45
2         1809.96
3         1806.90
4         1410.93
           ...
759995    1186.65
759996    1095.69
759997    1046.01
759998     691.32
759999    2084.95
Name: all_monthly_payment, Length: 760000, dtype: float64

In [73]:
# 10）剩余公开记录的数量 reset_known_dero
# known_dero：贬损公共记录的数量
# pub_dero_bankrup：公开记录清除的数量
train['reset_known_dero'] = train['known_dero'] - train['pub_dero_bankrup']
test['reset_known_dero'] = test['known_dero'] - test['pub_dero_bankrup']
train['reset_known_dero']

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
759995    NaN
759996    NaN
759997    NaN
759998    NaN
759999    NaN
Name: reset_known_dero, Length: 760000, dtype: float64

In [74]:
# 11）除信贷周转余额外，剩余贷款数额：rest_loan_recircle_b
# total_loan：贷款数额
# recircle_b：信贷周转余额合计
train['rest_loan_recircle_b'] = train['total_loan'] - train['recircle_b']
test['rest_loan_recircle_b'] = test['total_loan'] - test['recircle_b']
train['rest_loan_recircle_b']

0         24083.951051
1         -3329.000000
2         -1241.272730
3          -707.000000
4          1256.573420
              ...
759995     2428.000000
759996    -2183.000000
759997      741.000000
759998    -2625.000000
759999     6981.000000
Name: rest_loan_recircle_b, Length: 760000, dtype: float64

In [75]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 760000 entries, 0 to 759999
Data columns (total 55 columns):
 #   Column                                   Non-Null Count   Dtype
---  ------                                   --------------   -----
 0   loan_id                                  760000 non-null  int64
 1   user_id                                  760000 non-null  int64
 2   total_loan                               760000 non-null  float64
 3   year_of_loan                             760000 non-null  int64
 4   interest                                 760000 non-null  float64
 5   monthly_payment                          760000 non-null  float64
 6   class                                    760000 non-null  int64
 7   employer_type                            760000 non-null  object
 8   industry                                 760000 non-null  object
 9   work_year                                465935 non-null  float64
 10  house_exist                              760000 non-null  int64
 11  censor_status                            760000 non-null  int64
 12  issue_date                               760000 non-null  int64
 13  use                                      760000 non-null  int64
 14  post_code                                759999 non-null  float64
 15  region                                   760000 non-null  int64
 16  debt_loan_ratio                          760000 non-null  float64
 17  del_in_18month                           760000 non-null  float64
 18  scoring_low                              760000 non-null  float64
 19  scoring_high                             760000 non-null  float64
 20  known_outstanding_loan                   10000 non-null   float64
 21  known_dero                               10000 non-null   float64
 22  pub_dero_bankrup                         759618 non-null  float64
 23  recircle_b                               760000 non-null  float64
 24  recircle_u                               759511 non-null  float64
 25  initial_list_status                      760000 non-null  int64
 26  app_type                                 10000 non-null   float64
 27  earlies_credit_mon                       760000 non-null  int64
 28  title                                    759999 non-null  float64
 29  policy_code                              760000 non-null  float64
 30  f0                                       721704 non-null  float64
 31  f1                                       693731 non-null  float64
 32  f2                                       721704 non-null  float64
 33  f3                                       721703 non-null  float64
 34  f4                                       721704 non-null  float64
 35  early_return                             760000 non-null  int64
 36  early_return_amount                      760000 non-null  int64
 37  early_return_amount_3mon                 760000 non-null  float64
 38  is_default                               760000 non-null  int64
 39  is_internet                              760000 non-null  bool
 40  issue_date_and_earlies_credit_mon_diff   760000 non-null  int64
 41  issue_date_y                             760000 non-null  int64
 42  issue_date_m                             760000 non-null  int64
 43  earlies_credit_mon_y                     760000 non-null  int64
 44  earlies_credit_mon_m                     760000 non-null  int64
 45  monthly_payment_year_of_loan_recircle_b  760000 non-null  float64
 46  recircle_u_recircle_b                    759511 non-null  float64
 47  recircle_b_total_loan                    760000 non-null  float64
 48  recircle_b_monthly_payment               760000 non-null  float64
 49  null_num                                 760000 non-null  int64
 50  avg_total_loan                           760000 non-null  float64
 51  mean_interest                            760000 non-null  float64
 52  all_monthly_payment                      760000 non-null  float64
 53  reset_known_dero                         9993 non-null    float64
 54  rest_loan_recircle_b                     760000 non-null  float64
dtypes: bool(1), float64(32), int64(20), object(2)
memory usage: 313.8+ MB

In [76]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 53 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   loan_id                                  5000 non-null   int64
 1   user_id                                  5000 non-null   int64
 2   total_loan                               5000 non-null   float64
 3   year_of_loan                             5000 non-null   int64
 4   interest                                 5000 non-null   float64
 5   monthly_payment                          5000 non-null   float64
 6   class                                    5000 non-null   int64
 7   employer_type                            5000 non-null   object
 8   industry                                 5000 non-null   object
 9   work_year                                3092 non-null   float64
 10  house_exist                              5000 non-null   int64
 11  censor_status                            5000 non-null   int64
 12  issue_date                               5000 non-null   int64
 13  use                                      5000 non-null   int64
 14  post_code                                5000 non-null   int64
 15  region                                   5000 non-null   int64
 16  debt_loan_ratio                          5000 non-null   float64
 17  del_in_18month                           5000 non-null   int64
 18  scoring_low                              5000 non-null   float64
 19  scoring_high                             5000 non-null   float64
 20  known_outstanding_loan                   5000 non-null   int64
 21  known_dero                               5000 non-null   int64
 22  pub_dero_bankrup                         4996 non-null   float64
 23  recircle_b                               5000 non-null   float64
 24  recircle_u                               5000 non-null   float64
 25  initial_list_status                      5000 non-null   int64
 26  app_type                                 5000 non-null   int64
 27  earlies_credit_mon                       5000 non-null   int64
 28  title                                    5000 non-null   int64
 29  policy_code                              5000 non-null   int64
 30  f0                                       4741 non-null   float64
 31  f1                                       4546 non-null   float64
 32  f2                                       4741 non-null   float64
 33  f3                                       4741 non-null   float64
 34  f4                                       4741 non-null   float64
 35  early_return                             5000 non-null   int64
 36  early_return_amount                      5000 non-null   int64
 37  early_return_amount_3mon                 5000 non-null   float64
 38  issue_date_and_earlies_credit_mon_diff   5000 non-null   int64
 39  issue_date_y                             5000 non-null   int64
 40  issue_date_m                             5000 non-null   int64
 41  earlies_credit_mon_y                     5000 non-null   int64
 42  earlies_credit_mon_m                     5000 non-null   int64
 43  monthly_payment_year_of_loan_recircle_b  5000 non-null   float64
 44  recircle_u_recircle_b                    5000 non-null   float64
 45  recircle_b_total_loan                    5000 non-null   float64
 46  recircle_b_monthly_payment               5000 non-null   float64
 47  null_num                                 5000 non-null   int64
 48  avg_total_loan                           5000 non-null   float64
 49  mean_interest                            5000 non-null   float64
 50  all_monthly_payment                      5000 non-null   float64
 51  reset_known_dero                         4996 non-null   float64
 52  rest_loan_recircle_b                     5000 non-null   float64
dtypes: float64(25), int64(26), object(2)
memory usage: 2.0+ MB

In [77]:
train1_a = train[train['is_internet'] == True]
train1_a.index = range(len(train1_a))
train2_a = train[train['is_internet'] == False]
train2_a.index = range(len(train2_a))
train1_a

,loan_id,user_id,total_loan,year_of_loan,interest,monthly_payment,class,employer_type,industry,work_year,...,monthly_payment_year_of_loan_recircle_b,recircle_u_recircle_b,recircle_b_total_loan,recircle_b_monthly_payment,null_num,avg_total_loan,mean_interest,all_monthly_payment,reset_known_dero,rest_loan_recircle_b
0,119262,0,12000.0,5,11.53,264.10,1,普通企业,采矿业,NaN,...,4.110399,0.005992,0.321247,14.591219,4,2400.000000,2.306000,1320.50,NaN,8145.0
1,369815,1,8000.0,3,13.98,273.35,2,普通企业,国际组织,NaN,...,0.082951,0.000842,14.828815,433.834339,9,2666.666667,4.660000,820.05,NaN,-110632.0
2,787833,2,20000.0,5,17.99,507.76,3,上市企业,信息传输、软件和信息技术服务业,NaN,...,1.944187,0.004627,0.783496,30.854960,4,4000.000000,3.598000,2538.80,NaN,4330.0
3,671675,3,10700.0,3,10.16,346.07,1,普通企业,电力、热力生产供应业,2.0,...,0.660611,0.004168,1.762507,54.479013,3,3566.666667,3.386667,1038.21,NaN,-8159.0
4,245160,4,8000.0,3,8.24,251.58,1,政府机构,金融业,5.0,...,1.086335,0.008132,1.042112,33.125397,3,2666.666667,2.746667,754.74,NaN,-337.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749995,624287,749995,12000.0,3,11.47,395.55,1,上市企业,文化和体育业,4.0,...,1.487636,0.006498,0.797660,24.193100,3,4000.000000,3.823333,1186.65,NaN,2428.0
749996,427602,749996,12000.0,3,6.03,365.23,0,政府机构,住宿和餐饮业,8.0,...,0.927039,0.002150,1.181907,38.822435,3,4000.000000,2.010000,1095.69,NaN,-2183.0
749997,206828,749997,10000.0,3,15.41,348.67,3,政府机构,住宿和餐饮业,8.0,...,1.355652,0.007873,0.925891,26.547582,3,3333.333333,5.136667,1046.01,NaN,741.0
749998,293912,749998,7200.0,3,9.44,230.44,1,政府机构,信息传输、软件和信息技术服务业,NaN,...,0.844352,0.007247,1.364564,42.617333,4,2400.000000,3.146667,691.32,NaN,-2625.0
749999,381388,749999,16000.0,5,19.22,416.99,3,幼教与中小学校,文化和体育业,3.0,...,2.774046,0.008693,0.563684,21.623630,3,3200.000000,3.844000,2084.95,NaN,6981.0

In [78]:
train2_a

,loan_id,user_id,total_loan,year_of_loan,interest,monthly_payment,class,employer_type,industry,work_year,...,monthly_payment_year_of_loan_recircle_b,recircle_u_recircle_b,recircle_b_total_loan,recircle_b_monthly_payment,null_num,avg_total_loan,mean_interest,all_monthly_payment,reset_known_dero,rest_loan_recircle_b
0,1040418,240418,31818.18182,3,11.466,1174.91,2,政府机构,金融业,3.0,...,5.468703,0.011869,0.243075,6.582268,0,10606.060607,3.822000,3524.73,0.0,24083.951051
1,1025197,225197,28000.00000,5,16.841,670.69,2,政府机构,金融业,NaN,...,1.284474,0.001749,1.118889,46.704632,1,5600.000000,3.368200,3353.45,0.0,-3329.000000
2,1009360,209360,17272.72727,3,8.900,603.32,0,政府机构,公共服务、社会组织,NaN,...,1.173134,0.003116,1.071857,30.681781,1,5757.575757,2.966667,1809.96,0.0,-1241.272730
3,1039708,239708,20000.00000,3,4.788,602.30,0,世界五百强,文化和体育业,6.0,...,1.047119,0.002057,1.035345,34.374170,0,6666.666667,1.596000,1806.90,0.0,-707.000000
4,1027483,227483,15272.72727,3,12.790,470.31,2,政府机构,信息传输、软件和信息技术服务业,0.0,...,1.207966,0.002173,0.917718,29.795612,0,5090.909090,4.263333,1410.93,0.0,1256.573420
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1028093,228093,17727.27273,3,15.037,510.27,1,普通企业,建筑业,7.0,...,0.924727,0.002291,1.120579,38.922592,0,5909.090910,5.012333,1530.81,0.0,-2137.650350
9996,1043911,243911,13636.36364,3,6.534,464.95,0,政府机构,农、林、牧、渔业,2.0,...,8.265370,0.005086,0.148499,4.354370,0,4545.454547,2.178000,1394.85,0.0,11611.363640
9997,1023503,223503,24818.18182,3,14.421,708.69,1,普通企业,信息传输、软件和信息技术服务业,NaN,...,2.018245,0.001731,0.509342,17.834620,1,8272.727273,4.807000,2126.07,0.0,12177.181820
9998,1024616,224616,20000.00000,3,18.450,727.58,3,政府机构,农、林、牧、渔业,NaN,...,1.062902,0.002461,1.232128,33.864738,1,6666.666667,6.150000,2182.74,0.0,-4642.692310
9999,1021034,221034,1000.00000,3,14.014,33.57,2,高等教育机构,信息传输、软件和信息技术服务业,7.0,...,0.670503,0.012428,1.802127,53.528592,0,333.333333,4.671333,100.71,0.0,-802.307692

In [79]:
test

,loan_id,user_id,total_loan,year_of_loan,interest,monthly_payment,class,employer_type,industry,work_year,...,monthly_payment_year_of_loan_recircle_b,recircle_u_recircle_b,recircle_b_total_loan,recircle_b_monthly_payment,null_num,avg_total_loan,mean_interest,all_monthly_payment,reset_known_dero,rest_loan_recircle_b
0,1000575,200575,2890.909091,3,10.791,88.01,1,幼教与中小学校,住宿和餐饮业,5.0,...,0.366378,0.003683,2.991237,98.146548,0,963.636364,3.597000,264.03,0.0,-5756.783217
1,1028125,228125,7272.727273,3,9.990,258.10,1,普通企业,批发和零售业,NaN,...,0.987811,0.001943,1.293328,36.429721,1,2424.242424,3.330000,774.30,0.0,-2133.426573
2,1010694,210694,26295.454550,3,15.763,764.03,2,普通企业,住宿和餐饮业,NaN,...,1.041273,0.002359,1.004534,34.568423,1,8765.151517,5.254333,2292.09,0.0,-119.314680
3,1026712,226712,22690.909090,5,19.305,524.30,3,普通企业,采矿业,NaN,...,26.256573,0.006427,0.052796,2.284516,1,4538.181818,3.861000,2621.50,0.0,21492.909090
4,1002895,202895,14545.454550,3,7.139,490.32,0,世界五百强,金融业,1.0,...,4.502824,0.002253,0.269498,7.993149,0,4848.484850,2.379667,1470.96,0.0,10625.454550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,1008856,208856,9454.545455,5,12.015,183.47,2,政府机构,信息传输、软件和信息技术服务业,0.0,...,2.049730,0.014111,0.568024,29.255660,5,1890.909091,2.403000,917.35,0.0,4084.083917
4996,1016651,216651,5500.000000,3,7.970,172.28,0,政府机构,房地产业,5.0,...,0.980312,0.006809,1.150259,36.701116,0,1833.333333,2.656667,516.84,0.0,-826.538462
4997,1024140,224140,30545.454550,3,8.900,889.09,0,上市企业,房地产业,NaN,...,0.500866,0.001242,2.092078,71.867309,1,10181.818183,2.966667,2667.27,0.0,-33358.237760
4998,1014316,214316,4090.909091,3,6.030,152.18,0,政府机构,文化和体育业,NaN,...,2.026221,0.010882,0.660886,17.754743,1,1363.636364,2.010000,456.54,0.0,1387.216783
4999,1012946,212946,14727.272730,3,7.970,563.81,0,普通企业,交通运输、仓储和邮政业,4.0,...,0.491802,0.002606,2.802328,73.187074,0,4909.090910,2.656667,1691.43,0.0,-26543.650350

In [83]:
train.drop(['is_internet'], axis=1, inplace=True)
train

,loan_id,user_id,total_loan,year_of_loan,interest,monthly_payment,class,employer_type,industry,work_year,...,monthly_payment_year_of_loan_recircle_b,recircle_u_recircle_b,recircle_b_total_loan,recircle_b_monthly_payment,null_num,avg_total_loan,mean_interest,all_monthly_payment,reset_known_dero,rest_loan_recircle_b
0,1040418,240418,31818.18182,3,11.466,1174.91,2,政府机构,金融业,3.0,...,5.468703,0.011869,0.243075,6.582268,0,10606.060607,3.822000,3524.73,0.0,24083.951051
1,1025197,225197,28000.00000,5,16.841,670.69,2,政府机构,金融业,NaN,...,1.284474,0.001749,1.118889,46.704632,1,5600.000000,3.368200,3353.45,0.0,-3329.000000
2,1009360,209360,17272.72727,3,8.900,603.32,0,政府机构,公共服务、社会组织,NaN,...,1.173134,0.003116,1.071857,30.681781,1,5757.575757,2.966667,1809.96,0.0,-1241.272730
3,1039708,239708,20000.00000,3,4.788,602.30,0,世界五百强,文化和体育业,6.0,...,1.047119,0.002057,1.035345,34.374170,0,6666.666667,1.596000,1806.90,0.0,-707.000000
4,1027483,227483,15272.72727,3,12.790,470.31,2,政府机构,信息传输、软件和信息技术服务业,0.0,...,1.207966,0.002173,0.917718,29.795612,0,5090.909090,4.263333,1410.93,0.0,1256.573420
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
759995,624287,749995,12000.00000,3,11.470,395.55,1,上市企业,文化和体育业,4.0,...,1.487636,0.006498,0.797660,24.193100,3,4000.000000,3.823333,1186.65,NaN,2428.000000
759996,427602,749996,12000.00000,3,6.030,365.23,0,政府机构,住宿和餐饮业,8.0,...,0.927039,0.002150,1.181907,38.822435,3,4000.000000,2.010000,1095.69,NaN,-2183.000000
759997,206828,749997,10000.00000,3,15.410,348.67,3,政府机构,住宿和餐饮业,8.0,...,1.355652,0.007873,0.925891,26.547582,3,3333.333333,5.136667,1046.01,NaN,741.000000
759998,293912,749998,7200.00000,3,9.440,230.44,1,政府机构,信息传输、软件和信息技术服务业,NaN,...,0.844352,0.007247,1.364564,42.617333,4,2400.000000,3.146667,691.32,NaN,-2625.000000
759999,381388,749999,16000.00000,5,19.220,416.99,3,幼教与中小学校,文化和体育业,3.0,...,2.774046,0.008693,0.563684,21.623630,3,3200.000000,3.844000,2084.95,NaN,6981.000000

# 模型训练-autogluon

In [94]:
from autogluon.tabular import TabularPredictor

# 创建AutoML模型
model = TabularPredictor(label='is_default', path='./model', eval_metric='roc_auc')
# 可以指定训练时常
model.fit(train, time_limit=3000)
# 查看Leaderboard
model.leaderboard()

Warning: path already exists! This predictor may overwrite an existing predictor! path="./model"
Beginning AutoGluon training ... Time limit = 3000s
AutoGluon will save models to "./model/"
AutoGluon Version:  0.4.0
Python Version:     3.7.13
Operating System:   Linux
Train Data Rows:    760000
Train Data Columns: 53
Label Column: is_default
Preprocessing data ...
AutoGluon infers your prediction problem is: 'binary' (because only two unique label-values observed).
	2 unique label values:  [0, 1]
	If 'binary' is not the correct problem_type, please manually specify the problem_type parameter during predictor init (You may specify problem_type as one of: ['binary', 'multiclass', 'regression'])
Selected class <--> label mapping:  class 1 = 1, class 0 = 0
Using Feature Generators to preprocess the data ...
Fitting AutoMLPipelineFeatureGenerator...
	Available Memory:                    11207.72 MB
	Train Data (Original)  Memory Usage: 478.73 MB (4.3% of available memory)
	Inferring data type of each feature based on column values. Set feature_metadata_in to manually specify special dtypes of the features.
	Stage 1 Generators:
		Fitting AsTypeFeatureGenerator...
			Note: Converting 2 features to boolean dtype as they only contain 2 unique values.
	Stage 2 Generators:
		Fitting FillNaFeatureGenerator...
	Stage 3 Generators:
		Fitting IdentityFeatureGenerator...
		Fitting CategoryFeatureGenerator...
			Fitting CategoryMemoryMinimizeFeatureGenerator...
	Stage 4 Generators:
		Fitting DropUniqueFeatureGenerator...
	Useless Original Features (Count: 1): ['policy_code']
		These features carry no predictive signal and should be manually investigated.
		This is typically a feature which has the same value for all rows.
		These features do not need to be present at inference time.
	Types of features in original data (raw dtype, special dtypes):
		('float', [])  : 31 | ['total_loan', 'interest', 'monthly_payment', 'work_year', 'post_code', ...]
		('int', [])    : 19 | ['loan_id', 'user_id', 'year_of_loan', 'class', 'house_exist', ...]
		('object', []) :  2 | ['employer_type', 'industry']
	Types of features in processed data (raw dtype, special dtypes):
		('category', [])  :  2 | ['employer_type', 'industry']
		('float', [])     : 31 | ['total_loan', 'interest', 'monthly_payment', 'work_year', 'post_code', ...]
		('int', [])       : 17 | ['loan_id', 'user_id', 'class', 'house_exist', 'censor_status', ...]
		('int', ['bool']) :  2 | ['year_of_loan', 'initial_list_status']
	4.7s = Fit runtime
	52 features in original data used to generate 52 features in processed data.
	Train Data (Processed) Memory Usage: 294.88 MB (2.6% of available memory)
Data preprocessing and feature engineering runtime = 5.29s ...
AutoGluon will gauge predictive performance using evaluation metric: 'roc_auc'
	This metric expects predicted probabilities rather than predicted class labels, so you'll need to use predict_proba() instead of predict()
	To change this, specify the eval_metric parameter of Predictor()
Automatically generating train/validation split with holdout_frac=0.01, Train Rows: 752400, Val Rows: 7600
Fitting 13 L1 models ...
Fitting model: KNeighborsUnif ... Training model for up to 2994.71s of the 2994.71s of remaining time.
	0.522	 = Validation score   (roc_auc)
	1.79s	 = Training   runtime
	211.7s	 = Validation runtime
Fitting model: KNeighborsDist ... Training model for up to 2780.76s of the 2780.76s of remaining time.
	0.5229	 = Validation score   (roc_auc)
	1.74s	 = Training   runtime
	210.06s	 = Validation runtime
Fitting model: LightGBMXT ... Training model for up to 2568.03s of the 2568.03s of remaining time.

[1000]	valid_set's binary_logloss: 0.399797

	0.8005	 = Validation score   (roc_auc)
	238.62s	 = Training   runtime
	0.49s	 = Validation runtime
Fitting model: LightGBM ... Training model for up to 2328.67s of the 2328.67s of remaining time.
	0.8001	 = Validation score   (roc_auc)
	116.1s	 = Training   runtime
	0.18s	 = Validation runtime
Fitting model: RandomForestGini ... Training model for up to 2212.28s of the 2212.28s of remaining time.
	Warning: Reducing model 'n_estimators' from 300 -> 131 due to low memory. Expected memory usage reduced from 34.32% -> 15.0% of available memory...
	0.7825	 = Validation score   (roc_auc)
	573.16s	 = Training   runtime
	0.41s	 = Validation runtime
Fitting model: RandomForestEntr ... Training model for up to 1628.65s of the 1628.65s of remaining time.
	Warning: Reducing model 'n_estimators' from 300 -> 129 due to low memory. Expected memory usage reduced from 34.8% -> 15.0% of available memory...
	0.7837	 = Validation score   (roc_auc)
	681.96s	 = Training   runtime
	0.51s	 = Validation runtime
Fitting model: CatBoost ... Training model for up to 938.28s of the 938.28s of remaining time.
	Warning: Potentially not enough memory to safely train CatBoost model, roughly requires: 2.235 GB, but only 9.568 GB is available...
	Ran out of time, early stopping on iteration 1037.
	0.8011	 = Validation score   (roc_auc)
	937.69s	 = Training   runtime
	0.03s	 = Validation runtime
Fitting model: ExtraTreesGini ... Training model for up to 0.51s of the 0.51s of remaining time.
	Warning: Reducing model 'n_estimators' from 300 -> 60 due to low memory. Expected memory usage reduced from 74.67% -> 15.0% of available memory...
	Warning: Model is expected to require 108.3s to train, which exceeds the maximum time limit of 0.5s, skipping model...
	Time limit exceeded... Skipping ExtraTreesGini.
Fitting model: WeightedEnsemble_L2 ... Training model for up to 360.0s of the -471.51s of remaining time.
	0.8013	 = Validation score   (roc_auc)
	2.45s	 = Training   runtime
	0.01s	 = Validation runtime
AutoGluon training complete, total runtime = 3475.79s ... Best model: "WeightedEnsemble_L2"
TabularPredictor saved. To load, use: predictor = TabularPredictor.load("./model/")

                 model  score_val  pred_time_val     fit_time  pred_time_val_marginal  fit_time_marginal  stack_level  can_infer  fit_order
0  WeightedEnsemble_L2   0.801322       0.711120  1294.858955                0.005696           2.454193            2       True          8
1             CatBoost   0.801136       0.031822   937.692658                0.031822         937.692658            1       True          7
2           LightGBMXT   0.800480       0.489359   238.615903                0.489359         238.615903            1       True          3
3             LightGBM   0.800089       0.184243   116.096200                0.184243         116.096200            1       True          4
4     RandomForestEntr   0.783748       0.513186   681.960912                0.513186         681.960912            1       True          6
5     RandomForestGini   0.782477       0.413192   573.158684                0.413192         573.158684            1       True          5
6       KNeighborsDist   0.522935     210.060339     1.742065              210.060339           1.742065            1       True          2
7       KNeighborsUnif   0.521974     211.697449     1.785114              211.697449           1.785114            1       True          1

,model,score_val,pred_time_val,fit_time,pred_time_val_marginal,fit_time_marginal,stack_level,can_infer,fit_order
0,WeightedEnsemble_L2,0.801322,0.711120,1294.858955,0.005696,2.454193,2,True,8
1,CatBoost,0.801136,0.031822,937.692658,0.031822,937.692658,1,True,7
2,LightGBMXT,0.800480,0.489359,238.615903,0.489359,238.615903,1,True,3
3,LightGBM,0.800089,0.184243,116.096200,0.184243,116.096200,1,True,4
4,RandomForestEntr,0.783748,0.513186,681.960912,0.513186,681.960912,1,True,6
5,RandomForestGini,0.782477,0.413192,573.158684,0.413192,573.158684,1,True,5
6,KNeighborsDist,0.522935,210.060339,1.742065,210.060339,1.742065,1,True,2
7,KNeighborsUnif,0.521974,211.697449,1.785114,211.697449,1.785114,1,True,1

In [95]:
# AutoML预测
y_pred = model.predict_proba(test)
y_pred

             0         1
0     0.996111  0.003889
1     0.957205  0.042795
2     0.993589  0.006411
3     0.995372  0.004628
4     0.990299  0.009701
...        ...       ...
4995  0.651107  0.348893
4996  0.977170  0.022830
4997  0.996557  0.003443
4998  0.992892  0.007108
4999  0.995811  0.004189

[5000 rows x 2 columns]

In [96]:
result = pd.DataFrame(test['loan_id'])
result['isDefault'] = y_pred[1]
result.rename(columns={'loan_id': 'id'}, inplace=True)
result

           id  isDefault
0     1000575   0.003889
1     1028125   0.042795
2     1010694   0.006411
3     1026712   0.004628
4     1002895   0.009701
...       ...        ...
4995  1008856   0.348893
4996  1016651   0.022830
4997  1024140   0.003443
4998  1014316   0.007108
4999  1012946   0.004189

[5000 rows x 2 columns]

In [97]:
result.to_csv('./predict3.csv', index=False)

In [98]:
# score = 0.88427

# 判断特征重要性

In [ ]:
# 查看特征差异性是否明显
train.groupby(['class'])['is_default'].mean()

# 分箱处理

In [ ]:
# 指定分箱的个数，每个分享的个数 > 5%
bin_number = 10
label_list = list(range(bin_number))
train['total_loan_bin'] = pd.qcut(train['total_loan'], bin_number, labels=label_list, duplicates='drop')
train['total_loan_bin']